# 1주차 : 서울시 인구 현황 분석

* 데이터 : http://stat.seoul.go.kr/jsp3/stat.db.jsp 에서 구별 인구현황을 **숫자형식 엑셀**로 다운로드


# Raw Data 정리하기

In [2]:
import pandas as pd

pd.read_excel('../data/01_Population_Seoul.xls')

In [4]:
pd.read_excel('pythonExam2018-1/exam/data/01_Population_Seoul.xls', header=2)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>기간</th>
      <th>자치구</th>
      <th>세대</th>
      <th>계</th>
      <th>남자</th>
      <th>여자</th>
      <th>계.1</th>
      <th>남자.1</th>
      <th>여자.1</th>
      <th>계.2</th>
      <th>남자.2</th>
      <th>여자.2</th>
      <th>세대당인구</th>
      <th>65세이상고령자</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2018.2/4</td>
      <td>합계</td>
      <td>4241547</td>
      <td>10089517</td>
      <td>4935944</td>
      <td>5153573</td>
      <td>9814049</td>
      <td>4802769</td>
      <td>5011280</td>
      <td>275468</td>
      <td>133175</td>
      <td>142293</td>
      <td>2.31</td>
      <td>1393671</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2018.2/4</td>
      <td>종로구</td>
      <td>73655</td>
      <td>163569</td>
      <td>79522</td>
      <td>84047</td>
      <td>153780</td>
      <td>75247</td>
      <td>78533</td>
      <td>9789</td>
      <td>4275</td>
      <td>5514</td>
      <td>2.09</td>
      <td>26512</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2018.2/4</td>
      <td>중구</td>
      <td>61091</td>
      <td>135427</td>
      <td>66673</td>
      <td>68754</td>
      <td>126032</td>
      <td>62260</td>
      <td>63772</td>
      <td>9395</td>
      <td>4413</td>
      <td>4982</td>
      <td>2.06</td>
      <td>21798</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2018.2/4</td>
      <td>용산구</td>
      <td>108516</td>
      <td>245245</td>
      <td>119963</td>
      <td>125282</td>
      <td>229677</td>
      <td>111078</td>
      <td>118599</td>
      <td>15568</td>
      <td>8885</td>
      <td>6683</td>
      <td>2.12</td>
      <td>37331</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2018.2/4</td>
      <td>성동구</td>
      <td>135666</td>
      <td>316068</td>
      <td>155268</td>
      <td>160800</td>
      <td>308066</td>
      <td>151571</td>
      <td>156495</td>
      <td>8002</td>
      <td>3697</td>
      <td>4305</td>
      <td>2.27</td>
      <td>42171</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2018.2/4</td>
      <td>광진구</td>
      <td>161294</td>
      <td>370519</td>
      <td>179621</td>
      <td>190898</td>
      <td>355748</td>
      <td>173216</td>
      <td>182532</td>
      <td>14771</td>
      <td>6405</td>
      <td>8366</td>
      <td>2.21</td>
      <td>44806</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2018.2/4</td>
      <td>동대문구</td>
      <td>160757</td>
      <td>364527</td>
      <td>180126</td>
      <td>184401</td>
      <td>348903</td>
      <td>174128</td>
      <td>174775</td>
      <td>15624</td>
      <td>5998</td>
      <td>9626</td>
      <td>2.17</td>
      <td>56675</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2018.2/4</td>
      <td>중랑구</td>
      <td>179690</td>
      <td>410296</td>
      <td>203711</td>
      <td>206585</td>
      <td>405551</td>
      <td>201803</td>
      <td>203748</td>
      <td>4745</td>
      <td>1908</td>
      <td>2837</td>
      <td>2.26</td>
      <td>60618</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2018.2/4</td>
      <td>성북구</td>
      <td>186696</td>
      <td>451829</td>
      <td>218998</td>
      <td>232831</td>
      <td>440272</td>
      <td>214430</td>
      <td>225842</td>
      <td>11557</td>
      <td>4568</td>
      <td>6989</td>
      <td>2.36</td>
      <td>67132</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2018.2/4</td>
      <td>강북구</td>
      <td>143187</td>
      <td>326063</td>
      <td>159219</td>
      <td>166844</td>
      <td>322385</td>
      <td>157769</td>
      <td>164616</td>
      <td>3678</td>
      <td>1450</td>
      <td>2228</td>
      <td>2.25</td>
      <td>57401</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2018.2/4</td>
      <td>도봉구</td>
      <td>137560</td>
      <td>344096</td>
      <td>168282</td>
      <td>175814</td>
      <td>341928</td>
      <td>167465</td>
      <td>174463</td>
      <td>2168</td>
      <td>817</td>
      <td>1351</td>
      <td>2.49</td>
      <td>54969</td>
    </tr>
    <tr>
      <th>11</th>
      <td>2018.2/4</td>
      <td>노원구</td>
      <td>217662</td>
      <td>553177</td>
      <td>268396</td>
      <td>284781</td>
      <td>549365</td>
      <td>266826</td>
      <td>282539</td>
      <td>3812</td>
      <td>1570</td>
      <td>2242</td>
      <td>2.52</td>
      <td>75741</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2018.2/4</td>
      <td>은평구</td>
      <td>203547</td>
      <td>489045</td>
      <td>236802</td>
      <td>252243</td>
      <td>484642</td>
      <td>234905</td>
      <td>249737</td>
      <td>4403</td>
      <td>1897</td>
      <td>2506</td>
      <td>2.38</td>
      <td>76097</td>
    </tr>
    <tr>
      <th>13</th>
      <td>2018.2/4</td>
      <td>서대문구</td>
      <td>137725</td>
      <td>323261</td>
      <td>154145</td>
      <td>169116</td>
      <td>311280</td>
      <td>150131</td>
      <td>161149</td>
      <td>11981</td>
      <td>4014</td>
      <td>7967</td>
      <td>2.26</td>
      <td>49935</td>
    </tr>
    <tr>
      <th>14</th>
      <td>2018.2/4</td>
      <td>마포구</td>
      <td>170788</td>
      <td>385507</td>
      <td>182627</td>
      <td>202880</td>
      <td>374691</td>
      <td>178430</td>
      <td>196261</td>
      <td>10816</td>
      <td>4197</td>
      <td>6619</td>
      <td>2.19</td>
      <td>50350</td>
    </tr>
    <tr>
      <th>15</th>
      <td>2018.2/4</td>
      <td>양천구</td>
      <td>176234</td>
      <td>471026</td>
      <td>232087</td>
      <td>238939</td>
      <td>467151</td>
      <td>230322</td>
      <td>236829</td>
      <td>3875</td>
      <td>1765</td>
      <td>2110</td>
      <td>2.65</td>
      <td>56742</td>
    </tr>
    <tr>
      <th>16</th>
      <td>2018.2/4</td>
      <td>강서구</td>
      <td>256560</td>
      <td>606981</td>
      <td>295221</td>
      <td>311760</td>
      <td>600257</td>
      <td>291966</td>
      <td>308291</td>
      <td>6724</td>
      <td>3255</td>
      <td>3469</td>
      <td>2.34</td>
      <td>78042</td>
    </tr>
    <tr>
      <th>17</th>
      <td>2018.2/4</td>
      <td>구로구</td>
      <td>171882</td>
      <td>440305</td>
      <td>220880</td>
      <td>219425</td>
      <td>407235</td>
      <td>202016</td>
      <td>205219</td>
      <td>33070</td>
      <td>18864</td>
      <td>14206</td>
      <td>2.37</td>
      <td>60564</td>
    </tr>
    <tr>
      <th>18</th>
      <td>2018.2/4</td>
      <td>금천구</td>
      <td>106307</td>
      <td>252752</td>
      <td>129612</td>
      <td>123140</td>
      <td>233263</td>
      <td>118530</td>
      <td>114733</td>
      <td>19489</td>
      <td>11082</td>
      <td>8407</td>
      <td>2.19</td>
      <td>34945</td>
    </tr>
    <tr>
      <th>19</th>
      <td>2018.2/4</td>
      <td>영등포구</td>
      <td>169264</td>
      <td>404501</td>
      <td>203696</td>
      <td>200805</td>
      <td>369003</td>
      <td>183888</td>
      <td>185115</td>
      <td>35498</td>
      <td>19808</td>
      <td>15690</td>
      <td>2.18</td>
      <td>54994</td>
    </tr>
    <tr>
      <th>20</th>
      <td>2018.2/4</td>
      <td>동작구</td>
      <td>174427</td>
      <td>407275</td>
      <td>197984</td>
      <td>209291</td>
      <td>394788</td>
      <td>192296</td>
      <td>202492</td>
      <td>12487</td>
      <td>5688</td>
      <td>6799</td>
      <td>2.26</td>
      <td>58133</td>
    </tr>
    <tr>
      <th>21</th>
      <td>2018.2/4</td>
      <td>관악구</td>
      <td>259681</td>
      <td>521960</td>
      <td>262235</td>
      <td>259725</td>
      <td>504048</td>
      <td>253600</td>
      <td>250448</td>
      <td>17912</td>
      <td>8635</td>
      <td>9277</td>
      <td>1.94</td>
      <td>71317</td>
    </tr>
    <tr>
      <th>22</th>
      <td>2018.2/4</td>
      <td>서초구</td>
      <td>174268</td>
      <td>443989</td>
      <td>212679</td>
      <td>231310</td>
      <td>439844</td>
      <td>210596</td>
      <td>229248</td>
      <td>4145</td>
      <td>2083</td>
      <td>2062</td>
      <td>2.52</td>
      <td>54614</td>
    </tr>
    <tr>
      <th>23</th>
      <td>2018.2/4</td>
      <td>강남구</td>
      <td>229160</td>
      <td>551888</td>
      <td>264332</td>
      <td>287556</td>
      <td>546952</td>
      <td>261815</td>
      <td>285137</td>
      <td>4936</td>
      <td>2517</td>
      <td>2419</td>
      <td>2.39</td>
      <td>66011</td>
    </tr>
    <tr>
      <th>24</th>
      <td>2018.2/4</td>
      <td>송파구</td>
      <td>268325</td>
      <td>673161</td>
      <td>327051</td>
      <td>346110</td>
      <td>666439</td>
      <td>323741</td>
      <td>342698</td>
      <td>6722</td>
      <td>3310</td>
      <td>3412</td>
      <td>2.48</td>
      <td>79093</td>
    </tr>
    <tr>
      <th>25</th>
      <td>2018.2/4</td>
      <td>강동구</td>
      <td>177605</td>
      <td>437050</td>
      <td>216814</td>
      <td>220236</td>
      <td>432749</td>
      <td>214740</td>
      <td>218009</td>
      <td>4301</td>
      <td>2074</td>
      <td>2227</td>
      <td>2.44</td>
      <td>57680</td>
    </tr>
  </tbody>
</table>
</div>

In [6]:
pd.read_excel('pythonExam2018-1/exam//data/01_Population_Seoul.xls', header=2, usecols="B,D:N")

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>자치구</th>
      <th>계</th>
      <th>남자</th>
      <th>여자</th>
      <th>계.1</th>
      <th>남자.1</th>
      <th>여자.1</th>
      <th>계.2</th>
      <th>남자.2</th>
      <th>여자.2</th>
      <th>세대당인구</th>
      <th>65세이상고령자</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>합계</td>
      <td>10089517</td>
      <td>4935944</td>
      <td>5153573</td>
      <td>9814049</td>
      <td>4802769</td>
      <td>5011280</td>
      <td>275468</td>
      <td>133175</td>
      <td>142293</td>
      <td>2.31</td>
      <td>1393671</td>
    </tr>
    <tr>
      <th>1</th>
      <td>종로구</td>
      <td>163569</td>
      <td>79522</td>
      <td>84047</td>
      <td>153780</td>
      <td>75247</td>
      <td>78533</td>
      <td>9789</td>
      <td>4275</td>
      <td>5514</td>
      <td>2.09</td>
      <td>26512</td>
    </tr>
    <tr>
      <th>2</th>
      <td>중구</td>
      <td>135427</td>
      <td>66673</td>
      <td>68754</td>
      <td>126032</td>
      <td>62260</td>
      <td>63772</td>
      <td>9395</td>
      <td>4413</td>
      <td>4982</td>
      <td>2.06</td>
      <td>21798</td>
    </tr>
    <tr>
      <th>3</th>
      <td>용산구</td>
      <td>245245</td>
      <td>119963</td>
      <td>125282</td>
      <td>229677</td>
      <td>111078</td>
      <td>118599</td>
      <td>15568</td>
      <td>8885</td>
      <td>6683</td>
      <td>2.12</td>
      <td>37331</td>
    </tr>
    <tr>
      <th>4</th>
      <td>성동구</td>
      <td>316068</td>
      <td>155268</td>
      <td>160800</td>
      <td>308066</td>
      <td>151571</td>
      <td>156495</td>
      <td>8002</td>
      <td>3697</td>
      <td>4305</td>
      <td>2.27</td>
      <td>42171</td>
    </tr>
    <tr>
      <th>5</th>
      <td>광진구</td>
      <td>370519</td>
      <td>179621</td>
      <td>190898</td>
      <td>355748</td>
      <td>173216</td>
      <td>182532</td>
      <td>14771</td>
      <td>6405</td>
      <td>8366</td>
      <td>2.21</td>
      <td>44806</td>
    </tr>
    <tr>
      <th>6</th>
      <td>동대문구</td>
      <td>364527</td>
      <td>180126</td>
      <td>184401</td>
      <td>348903</td>
      <td>174128</td>
      <td>174775</td>
      <td>15624</td>
      <td>5998</td>
      <td>9626</td>
      <td>2.17</td>
      <td>56675</td>
    </tr>
    <tr>
      <th>7</th>
      <td>중랑구</td>
      <td>410296</td>
      <td>203711</td>
      <td>206585</td>
      <td>405551</td>
      <td>201803</td>
      <td>203748</td>
      <td>4745</td>
      <td>1908</td>
      <td>2837</td>
      <td>2.26</td>
      <td>60618</td>
    </tr>
    <tr>
      <th>8</th>
      <td>성북구</td>
      <td>451829</td>
      <td>218998</td>
      <td>232831</td>
      <td>440272</td>
      <td>214430</td>
      <td>225842</td>
      <td>11557</td>
      <td>4568</td>
      <td>6989</td>
      <td>2.36</td>
      <td>67132</td>
    </tr>
    <tr>
      <th>9</th>
      <td>강북구</td>
      <td>326063</td>
      <td>159219</td>
      <td>166844</td>
      <td>322385</td>
      <td>157769</td>
      <td>164616</td>
      <td>3678</td>
      <td>1450</td>
      <td>2228</td>
      <td>2.25</td>
      <td>57401</td>
    </tr>
    <tr>
      <th>10</th>
      <td>도봉구</td>
      <td>344096</td>
      <td>168282</td>
      <td>175814</td>
      <td>341928</td>
      <td>167465</td>
      <td>174463</td>
      <td>2168</td>
      <td>817</td>
      <td>1351</td>
      <td>2.49</td>
      <td>54969</td>
    </tr>
    <tr>
      <th>11</th>
      <td>노원구</td>
      <td>553177</td>
      <td>268396</td>
      <td>284781</td>
      <td>549365</td>
      <td>266826</td>
      <td>282539</td>
      <td>3812</td>
      <td>1570</td>
      <td>2242</td>
      <td>2.52</td>
      <td>75741</td>
    </tr>
    <tr>
      <th>12</th>
      <td>은평구</td>
      <td>489045</td>
      <td>236802</td>
      <td>252243</td>
      <td>484642</td>
      <td>234905</td>
      <td>249737</td>
      <td>4403</td>
      <td>1897</td>
      <td>2506</td>
      <td>2.38</td>
      <td>76097</td>
    </tr>
    <tr>
      <th>13</th>
      <td>서대문구</td>
      <td>323261</td>
      <td>154145</td>
      <td>169116</td>
      <td>311280</td>
      <td>150131</td>
      <td>161149</td>
      <td>11981</td>
      <td>4014</td>
      <td>7967</td>
      <td>2.26</td>
      <td>49935</td>
    </tr>
    <tr>
      <th>14</th>
      <td>마포구</td>
      <td>385507</td>
      <td>182627</td>
      <td>202880</td>
      <td>374691</td>
      <td>178430</td>
      <td>196261</td>
      <td>10816</td>
      <td>4197</td>
      <td>6619</td>
      <td>2.19</td>
      <td>50350</td>
    </tr>
    <tr>
      <th>15</th>
      <td>양천구</td>
      <td>471026</td>
      <td>232087</td>
      <td>238939</td>
      <td>467151</td>
      <td>230322</td>
      <td>236829</td>
      <td>3875</td>
      <td>1765</td>
      <td>2110</td>
      <td>2.65</td>
      <td>56742</td>
    </tr>
    <tr>
      <th>16</th>
      <td>강서구</td>
      <td>606981</td>
      <td>295221</td>
      <td>311760</td>
      <td>600257</td>
      <td>291966</td>
      <td>308291</td>
      <td>6724</td>
      <td>3255</td>
      <td>3469</td>
      <td>2.34</td>
      <td>78042</td>
    </tr>
    <tr>
      <th>17</th>
      <td>구로구</td>
      <td>440305</td>
      <td>220880</td>
      <td>219425</td>
      <td>407235</td>
      <td>202016</td>
      <td>205219</td>
      <td>33070</td>
      <td>18864</td>
      <td>14206</td>
      <td>2.37</td>
      <td>60564</td>
    </tr>
    <tr>
      <th>18</th>
      <td>금천구</td>
      <td>252752</td>
      <td>129612</td>
      <td>123140</td>
      <td>233263</td>
      <td>118530</td>
      <td>114733</td>
      <td>19489</td>
      <td>11082</td>
      <td>8407</td>
      <td>2.19</td>
      <td>34945</td>
    </tr>
    <tr>
      <th>19</th>
      <td>영등포구</td>
      <td>404501</td>
      <td>203696</td>
      <td>200805</td>
      <td>369003</td>
      <td>183888</td>
      <td>185115</td>
      <td>35498</td>
      <td>19808</td>
      <td>15690</td>
      <td>2.18</td>
      <td>54994</td>
    </tr>
    <tr>
      <th>20</th>
      <td>동작구</td>
      <td>407275</td>
      <td>197984</td>
      <td>209291</td>
      <td>394788</td>
      <td>192296</td>
      <td>202492</td>
      <td>12487</td>
      <td>5688</td>
      <td>6799</td>
      <td>2.26</td>
      <td>58133</td>
    </tr>
    <tr>
      <th>21</th>
      <td>관악구</td>
      <td>521960</td>
      <td>262235</td>
      <td>259725</td>
      <td>504048</td>
      <td>253600</td>
      <td>250448</td>
      <td>17912</td>
      <td>8635</td>
      <td>9277</td>
      <td>1.94</td>
      <td>71317</td>
    </tr>
    <tr>
      <th>22</th>
      <td>서초구</td>
      <td>443989</td>
      <td>212679</td>
      <td>231310</td>
      <td>439844</td>
      <td>210596</td>
      <td>229248</td>
      <td>4145</td>
      <td>2083</td>
      <td>2062</td>
      <td>2.52</td>
      <td>54614</td>
    </tr>
    <tr>
      <th>23</th>
      <td>강남구</td>
      <td>551888</td>
      <td>264332</td>
      <td>287556</td>
      <td>546952</td>
      <td>261815</td>
      <td>285137</td>
      <td>4936</td>
      <td>2517</td>
      <td>2419</td>
      <td>2.39</td>
      <td>66011</td>
    </tr>
    <tr>
      <th>24</th>
      <td>송파구</td>
      <td>673161</td>
      <td>327051</td>
      <td>346110</td>
      <td>666439</td>
      <td>323741</td>
      <td>342698</td>
      <td>6722</td>
      <td>3310</td>
      <td>3412</td>
      <td>2.48</td>
      <td>79093</td>
    </tr>
    <tr>
      <th>25</th>
      <td>강동구</td>
      <td>437050</td>
      <td>216814</td>
      <td>220236</td>
      <td>432749</td>
      <td>214740</td>
      <td>218009</td>
      <td>4301</td>
      <td>2074</td>
      <td>2227</td>
      <td>2.44</td>
      <td>57680</td>
    </tr>
  </tbody>
</table>
</div>

In [7]:
pd.read_excel('pythonExam2018-1/exam/data/01_Population_Seoul.xls', 
              header=2, usecols="B,D:N", skipfooter=1)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>자치구</th>
      <th>계</th>
      <th>남자</th>
      <th>여자</th>
      <th>계.1</th>
      <th>남자.1</th>
      <th>여자.1</th>
      <th>계.2</th>
      <th>남자.2</th>
      <th>여자.2</th>
      <th>세대당인구</th>
      <th>65세이상고령자</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>합계</td>
      <td>10089517</td>
      <td>4935944</td>
      <td>5153573</td>
      <td>9814049</td>
      <td>4802769</td>
      <td>5011280</td>
      <td>275468</td>
      <td>133175</td>
      <td>142293</td>
      <td>2.31</td>
      <td>1393671</td>
    </tr>
    <tr>
      <th>1</th>
      <td>종로구</td>
      <td>163569</td>
      <td>79522</td>
      <td>84047</td>
      <td>153780</td>
      <td>75247</td>
      <td>78533</td>
      <td>9789</td>
      <td>4275</td>
      <td>5514</td>
      <td>2.09</td>
      <td>26512</td>
    </tr>
    <tr>
      <th>2</th>
      <td>중구</td>
      <td>135427</td>
      <td>66673</td>
      <td>68754</td>
      <td>126032</td>
      <td>62260</td>
      <td>63772</td>
      <td>9395</td>
      <td>4413</td>
      <td>4982</td>
      <td>2.06</td>
      <td>21798</td>
    </tr>
    <tr>
      <th>3</th>
      <td>용산구</td>
      <td>245245</td>
      <td>119963</td>
      <td>125282</td>
      <td>229677</td>
      <td>111078</td>
      <td>118599</td>
      <td>15568</td>
      <td>8885</td>
      <td>6683</td>
      <td>2.12</td>
      <td>37331</td>
    </tr>
    <tr>
      <th>4</th>
      <td>성동구</td>
      <td>316068</td>
      <td>155268</td>
      <td>160800</td>
      <td>308066</td>
      <td>151571</td>
      <td>156495</td>
      <td>8002</td>
      <td>3697</td>
      <td>4305</td>
      <td>2.27</td>
      <td>42171</td>
    </tr>
    <tr>
      <th>5</th>
      <td>광진구</td>
      <td>370519</td>
      <td>179621</td>
      <td>190898</td>
      <td>355748</td>
      <td>173216</td>
      <td>182532</td>
      <td>14771</td>
      <td>6405</td>
      <td>8366</td>
      <td>2.21</td>
      <td>44806</td>
    </tr>
    <tr>
      <th>6</th>
      <td>동대문구</td>
      <td>364527</td>
      <td>180126</td>
      <td>184401</td>
      <td>348903</td>
      <td>174128</td>
      <td>174775</td>
      <td>15624</td>
      <td>5998</td>
      <td>9626</td>
      <td>2.17</td>
      <td>56675</td>
    </tr>
    <tr>
      <th>7</th>
      <td>중랑구</td>
      <td>410296</td>
      <td>203711</td>
      <td>206585</td>
      <td>405551</td>
      <td>201803</td>
      <td>203748</td>
      <td>4745</td>
      <td>1908</td>
      <td>2837</td>
      <td>2.26</td>
      <td>60618</td>
    </tr>
    <tr>
      <th>8</th>
      <td>성북구</td>
      <td>451829</td>
      <td>218998</td>
      <td>232831</td>
      <td>440272</td>
      <td>214430</td>
      <td>225842</td>
      <td>11557</td>
      <td>4568</td>
      <td>6989</td>
      <td>2.36</td>
      <td>67132</td>
    </tr>
    <tr>
      <th>9</th>
      <td>강북구</td>
      <td>326063</td>
      <td>159219</td>
      <td>166844</td>
      <td>322385</td>
      <td>157769</td>
      <td>164616</td>
      <td>3678</td>
      <td>1450</td>
      <td>2228</td>
      <td>2.25</td>
      <td>57401</td>
    </tr>
    <tr>
      <th>10</th>
      <td>도봉구</td>
      <td>344096</td>
      <td>168282</td>
      <td>175814</td>
      <td>341928</td>
      <td>167465</td>
      <td>174463</td>
      <td>2168</td>
      <td>817</td>
      <td>1351</td>
      <td>2.49</td>
      <td>54969</td>
    </tr>
    <tr>
      <th>11</th>
      <td>노원구</td>
      <td>553177</td>
      <td>268396</td>
      <td>284781</td>
      <td>549365</td>
      <td>266826</td>
      <td>282539</td>
      <td>3812</td>
      <td>1570</td>
      <td>2242</td>
      <td>2.52</td>
      <td>75741</td>
    </tr>
    <tr>
      <th>12</th>
      <td>은평구</td>
      <td>489045</td>
      <td>236802</td>
      <td>252243</td>
      <td>484642</td>
      <td>234905</td>
      <td>249737</td>
      <td>4403</td>
      <td>1897</td>
      <td>2506</td>
      <td>2.38</td>
      <td>76097</td>
    </tr>
    <tr>
      <th>13</th>
      <td>서대문구</td>
      <td>323261</td>
      <td>154145</td>
      <td>169116</td>
      <td>311280</td>
      <td>150131</td>
      <td>161149</td>
      <td>11981</td>
      <td>4014</td>
      <td>7967</td>
      <td>2.26</td>
      <td>49935</td>
    </tr>
    <tr>
      <th>14</th>
      <td>마포구</td>
      <td>385507</td>
      <td>182627</td>
      <td>202880</td>
      <td>374691</td>
      <td>178430</td>
      <td>196261</td>
      <td>10816</td>
      <td>4197</td>
      <td>6619</td>
      <td>2.19</td>
      <td>50350</td>
    </tr>
    <tr>
      <th>15</th>
      <td>양천구</td>
      <td>471026</td>
      <td>232087</td>
      <td>238939</td>
      <td>467151</td>
      <td>230322</td>
      <td>236829</td>
      <td>3875</td>
      <td>1765</td>
      <td>2110</td>
      <td>2.65</td>
      <td>56742</td>
    </tr>
    <tr>
      <th>16</th>
      <td>강서구</td>
      <td>606981</td>
      <td>295221</td>
      <td>311760</td>
      <td>600257</td>
      <td>291966</td>
      <td>308291</td>
      <td>6724</td>
      <td>3255</td>
      <td>3469</td>
      <td>2.34</td>
      <td>78042</td>
    </tr>
    <tr>
      <th>17</th>
      <td>구로구</td>
      <td>440305</td>
      <td>220880</td>
      <td>219425</td>
      <td>407235</td>
      <td>202016</td>
      <td>205219</td>
      <td>33070</td>
      <td>18864</td>
      <td>14206</td>
      <td>2.37</td>
      <td>60564</td>
    </tr>
    <tr>
      <th>18</th>
      <td>금천구</td>
      <td>252752</td>
      <td>129612</td>
      <td>123140</td>
      <td>233263</td>
      <td>118530</td>
      <td>114733</td>
      <td>19489</td>
      <td>11082</td>
      <td>8407</td>
      <td>2.19</td>
      <td>34945</td>
    </tr>
    <tr>
      <th>19</th>
      <td>영등포구</td>
      <td>404501</td>
      <td>203696</td>
      <td>200805</td>
      <td>369003</td>
      <td>183888</td>
      <td>185115</td>
      <td>35498</td>
      <td>19808</td>
      <td>15690</td>
      <td>2.18</td>
      <td>54994</td>
    </tr>
    <tr>
      <th>20</th>
      <td>동작구</td>
      <td>407275</td>
      <td>197984</td>
      <td>209291</td>
      <td>394788</td>
      <td>192296</td>
      <td>202492</td>
      <td>12487</td>
      <td>5688</td>
      <td>6799</td>
      <td>2.26</td>
      <td>58133</td>
    </tr>
    <tr>
      <th>21</th>
      <td>관악구</td>
      <td>521960</td>
      <td>262235</td>
      <td>259725</td>
      <td>504048</td>
      <td>253600</td>
      <td>250448</td>
      <td>17912</td>
      <td>8635</td>
      <td>9277</td>
      <td>1.94</td>
      <td>71317</td>
    </tr>
    <tr>
      <th>22</th>
      <td>서초구</td>
      <td>443989</td>
      <td>212679</td>
      <td>231310</td>
      <td>439844</td>
      <td>210596</td>
      <td>229248</td>
      <td>4145</td>
      <td>2083</td>
      <td>2062</td>
      <td>2.52</td>
      <td>54614</td>
    </tr>
    <tr>
      <th>23</th>
      <td>강남구</td>
      <td>551888</td>
      <td>264332</td>
      <td>287556</td>
      <td>546952</td>
      <td>261815</td>
      <td>285137</td>
      <td>4936</td>
      <td>2517</td>
      <td>2419</td>
      <td>2.39</td>
      <td>66011</td>
    </tr>
    <tr>
      <th>24</th>
      <td>송파구</td>
      <td>673161</td>
      <td>327051</td>
      <td>346110</td>
      <td>666439</td>
      <td>323741</td>
      <td>342698</td>
      <td>6722</td>
      <td>3310</td>
      <td>3412</td>
      <td>2.48</td>
      <td>79093</td>
    </tr>
  </tbody>
</table>
</div>

In [8]:
col_names = ['구','인구수','남성','여성','내국인','남성내국인','여성내국인',
             '외국인','남성외국인','여성외국인','세대당인구','고령자']
pd.read_excel('pythonExam2018-1/exam/data/01_Population_Seoul.xls', 
              header=2, usecols="B,D:N", names=col_names, skipfooter=1)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>구</th>
      <th>인구수</th>
      <th>남성</th>
      <th>여성</th>
      <th>내국인</th>
      <th>남성내국인</th>
      <th>여성내국인</th>
      <th>외국인</th>
      <th>남성외국인</th>
      <th>여성외국인</th>
      <th>세대당인구</th>
      <th>고령자</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>합계</td>
      <td>10089517</td>
      <td>4935944</td>
      <td>5153573</td>
      <td>9814049</td>
      <td>4802769</td>
      <td>5011280</td>
      <td>275468</td>
      <td>133175</td>
      <td>142293</td>
      <td>2.31</td>
      <td>1393671</td>
    </tr>
    <tr>
      <th>1</th>
      <td>종로구</td>
      <td>163569</td>
      <td>79522</td>
      <td>84047</td>
      <td>153780</td>
      <td>75247</td>
      <td>78533</td>
      <td>9789</td>
      <td>4275</td>
      <td>5514</td>
      <td>2.09</td>
      <td>26512</td>
    </tr>
    <tr>
      <th>2</th>
      <td>중구</td>
      <td>135427</td>
      <td>66673</td>
      <td>68754</td>
      <td>126032</td>
      <td>62260</td>
      <td>63772</td>
      <td>9395</td>
      <td>4413</td>
      <td>4982</td>
      <td>2.06</td>
      <td>21798</td>
    </tr>
    <tr>
      <th>3</th>
      <td>용산구</td>
      <td>245245</td>
      <td>119963</td>
      <td>125282</td>
      <td>229677</td>
      <td>111078</td>
      <td>118599</td>
      <td>15568</td>
      <td>8885</td>
      <td>6683</td>
      <td>2.12</td>
      <td>37331</td>
    </tr>
    <tr>
      <th>4</th>
      <td>성동구</td>
      <td>316068</td>
      <td>155268</td>
      <td>160800</td>
      <td>308066</td>
      <td>151571</td>
      <td>156495</td>
      <td>8002</td>
      <td>3697</td>
      <td>4305</td>
      <td>2.27</td>
      <td>42171</td>
    </tr>
    <tr>
      <th>5</th>
      <td>광진구</td>
      <td>370519</td>
      <td>179621</td>
      <td>190898</td>
      <td>355748</td>
      <td>173216</td>
      <td>182532</td>
      <td>14771</td>
      <td>6405</td>
      <td>8366</td>
      <td>2.21</td>
      <td>44806</td>
    </tr>
    <tr>
      <th>6</th>
      <td>동대문구</td>
      <td>364527</td>
      <td>180126</td>
      <td>184401</td>
      <td>348903</td>
      <td>174128</td>
      <td>174775</td>
      <td>15624</td>
      <td>5998</td>
      <td>9626</td>
      <td>2.17</td>
      <td>56675</td>
    </tr>
    <tr>
      <th>7</th>
      <td>중랑구</td>
      <td>410296</td>
      <td>203711</td>
      <td>206585</td>
      <td>405551</td>
      <td>201803</td>
      <td>203748</td>
      <td>4745</td>
      <td>1908</td>
      <td>2837</td>
      <td>2.26</td>
      <td>60618</td>
    </tr>
    <tr>
      <th>8</th>
      <td>성북구</td>
      <td>451829</td>
      <td>218998</td>
      <td>232831</td>
      <td>440272</td>
      <td>214430</td>
      <td>225842</td>
      <td>11557</td>
      <td>4568</td>
      <td>6989</td>
      <td>2.36</td>
      <td>67132</td>
    </tr>
    <tr>
      <th>9</th>
      <td>강북구</td>
      <td>326063</td>
      <td>159219</td>
      <td>166844</td>
      <td>322385</td>
      <td>157769</td>
      <td>164616</td>
      <td>3678</td>
      <td>1450</td>
      <td>2228</td>
      <td>2.25</td>
      <td>57401</td>
    </tr>
    <tr>
      <th>10</th>
      <td>도봉구</td>
      <td>344096</td>
      <td>168282</td>
      <td>175814</td>
      <td>341928</td>
      <td>167465</td>
      <td>174463</td>
      <td>2168</td>
      <td>817</td>
      <td>1351</td>
      <td>2.49</td>
      <td>54969</td>
    </tr>
    <tr>
      <th>11</th>
      <td>노원구</td>
      <td>553177</td>
      <td>268396</td>
      <td>284781</td>
      <td>549365</td>
      <td>266826</td>
      <td>282539</td>
      <td>3812</td>
      <td>1570</td>
      <td>2242</td>
      <td>2.52</td>
      <td>75741</td>
    </tr>
    <tr>
      <th>12</th>
      <td>은평구</td>
      <td>489045</td>
      <td>236802</td>
      <td>252243</td>
      <td>484642</td>
      <td>234905</td>
      <td>249737</td>
      <td>4403</td>
      <td>1897</td>
      <td>2506</td>
      <td>2.38</td>
      <td>76097</td>
    </tr>
    <tr>
      <th>13</th>
      <td>서대문구</td>
      <td>323261</td>
      <td>154145</td>
      <td>169116</td>
      <td>311280</td>
      <td>150131</td>
      <td>161149</td>
      <td>11981</td>
      <td>4014</td>
      <td>7967</td>
      <td>2.26</td>
      <td>49935</td>
    </tr>
    <tr>
      <th>14</th>
      <td>마포구</td>
      <td>385507</td>
      <td>182627</td>
      <td>202880</td>
      <td>374691</td>
      <td>178430</td>
      <td>196261</td>
      <td>10816</td>
      <td>4197</td>
      <td>6619</td>
      <td>2.19</td>
      <td>50350</td>
    </tr>
    <tr>
      <th>15</th>
      <td>양천구</td>
      <td>471026</td>
      <td>232087</td>
      <td>238939</td>
      <td>467151</td>
      <td>230322</td>
      <td>236829</td>
      <td>3875</td>
      <td>1765</td>
      <td>2110</td>
      <td>2.65</td>
      <td>56742</td>
    </tr>
    <tr>
      <th>16</th>
      <td>강서구</td>
      <td>606981</td>
      <td>295221</td>
      <td>311760</td>
      <td>600257</td>
      <td>291966</td>
      <td>308291</td>
      <td>6724</td>
      <td>3255</td>
      <td>3469</td>
      <td>2.34</td>
      <td>78042</td>
    </tr>
    <tr>
      <th>17</th>
      <td>구로구</td>
      <td>440305</td>
      <td>220880</td>
      <td>219425</td>
      <td>407235</td>
      <td>202016</td>
      <td>205219</td>
      <td>33070</td>
      <td>18864</td>
      <td>14206</td>
      <td>2.37</td>
      <td>60564</td>
    </tr>
    <tr>
      <th>18</th>
      <td>금천구</td>
      <td>252752</td>
      <td>129612</td>
      <td>123140</td>
      <td>233263</td>
      <td>118530</td>
      <td>114733</td>
      <td>19489</td>
      <td>11082</td>
      <td>8407</td>
      <td>2.19</td>
      <td>34945</td>
    </tr>
    <tr>
      <th>19</th>
      <td>영등포구</td>
      <td>404501</td>
      <td>203696</td>
      <td>200805</td>
      <td>369003</td>
      <td>183888</td>
      <td>185115</td>
      <td>35498</td>
      <td>19808</td>
      <td>15690</td>
      <td>2.18</td>
      <td>54994</td>
    </tr>
    <tr>
      <th>20</th>
      <td>동작구</td>
      <td>407275</td>
      <td>197984</td>
      <td>209291</td>
      <td>394788</td>
      <td>192296</td>
      <td>202492</td>
      <td>12487</td>
      <td>5688</td>
      <td>6799</td>
      <td>2.26</td>
      <td>58133</td>
    </tr>
    <tr>
      <th>21</th>
      <td>관악구</td>
      <td>521960</td>
      <td>262235</td>
      <td>259725</td>
      <td>504048</td>
      <td>253600</td>
      <td>250448</td>
      <td>17912</td>
      <td>8635</td>
      <td>9277</td>
      <td>1.94</td>
      <td>71317</td>
    </tr>
    <tr>
      <th>22</th>
      <td>서초구</td>
      <td>443989</td>
      <td>212679</td>
      <td>231310</td>
      <td>439844</td>
      <td>210596</td>
      <td>229248</td>
      <td>4145</td>
      <td>2083</td>
      <td>2062</td>
      <td>2.52</td>
      <td>54614</td>
    </tr>
    <tr>
      <th>23</th>
      <td>강남구</td>
      <td>551888</td>
      <td>264332</td>
      <td>287556</td>
      <td>546952</td>
      <td>261815</td>
      <td>285137</td>
      <td>4936</td>
      <td>2517</td>
      <td>2419</td>
      <td>2.39</td>
      <td>66011</td>
    </tr>
    <tr>
      <th>24</th>
      <td>송파구</td>
      <td>673161</td>
      <td>327051</td>
      <td>346110</td>
      <td>666439</td>
      <td>323741</td>
      <td>342698</td>
      <td>6722</td>
      <td>3310</td>
      <td>3412</td>
      <td>2.48</td>
      <td>79093</td>
    </tr>
  </tbody>
</table>
</div>

In [9]:
col_names = ['구','인구수','남성','여성','내국인','남성내국인','여성내국인',
             '외국인','남성외국인','여성외국인','세대당인구','고령자']
raw_data = pd.read_excel('pythonExam2018-1/exam/data/01_Population_Seoul.xls', 
                         header=2, usecols="B,D:N", names=col_names, skipfooter=1)

In [10]:
raw_data['구'].unique()

array(['합계', '종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구',
       '강북구', '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구',
       '금천구', '영등포구', '동작구', '관악구', '서초구', '강남구', '송파구'], dtype=object)

In [11]:
raw_data.drop(0, inplace=True)
raw_data

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>구</th>
      <th>인구수</th>
      <th>남성</th>
      <th>여성</th>
      <th>내국인</th>
      <th>남성내국인</th>
      <th>여성내국인</th>
      <th>외국인</th>
      <th>남성외국인</th>
      <th>여성외국인</th>
      <th>세대당인구</th>
      <th>고령자</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>종로구</td>
      <td>163569</td>
      <td>79522</td>
      <td>84047</td>
      <td>153780</td>
      <td>75247</td>
      <td>78533</td>
      <td>9789</td>
      <td>4275</td>
      <td>5514</td>
      <td>2.09</td>
      <td>26512</td>
    </tr>
    <tr>
      <th>2</th>
      <td>중구</td>
      <td>135427</td>
      <td>66673</td>
      <td>68754</td>
      <td>126032</td>
      <td>62260</td>
      <td>63772</td>
      <td>9395</td>
      <td>4413</td>
      <td>4982</td>
      <td>2.06</td>
      <td>21798</td>
    </tr>
    <tr>
      <th>3</th>
      <td>용산구</td>
      <td>245245</td>
      <td>119963</td>
      <td>125282</td>
      <td>229677</td>
      <td>111078</td>
      <td>118599</td>
      <td>15568</td>
      <td>8885</td>
      <td>6683</td>
      <td>2.12</td>
      <td>37331</td>
    </tr>
    <tr>
      <th>4</th>
      <td>성동구</td>
      <td>316068</td>
      <td>155268</td>
      <td>160800</td>
      <td>308066</td>
      <td>151571</td>
      <td>156495</td>
      <td>8002</td>
      <td>3697</td>
      <td>4305</td>
      <td>2.27</td>
      <td>42171</td>
    </tr>
    <tr>
      <th>5</th>
      <td>광진구</td>
      <td>370519</td>
      <td>179621</td>
      <td>190898</td>
      <td>355748</td>
      <td>173216</td>
      <td>182532</td>
      <td>14771</td>
      <td>6405</td>
      <td>8366</td>
      <td>2.21</td>
      <td>44806</td>
    </tr>
    <tr>
      <th>6</th>
      <td>동대문구</td>
      <td>364527</td>
      <td>180126</td>
      <td>184401</td>
      <td>348903</td>
      <td>174128</td>
      <td>174775</td>
      <td>15624</td>
      <td>5998</td>
      <td>9626</td>
      <td>2.17</td>
      <td>56675</td>
    </tr>
    <tr>
      <th>7</th>
      <td>중랑구</td>
      <td>410296</td>
      <td>203711</td>
      <td>206585</td>
      <td>405551</td>
      <td>201803</td>
      <td>203748</td>
      <td>4745</td>
      <td>1908</td>
      <td>2837</td>
      <td>2.26</td>
      <td>60618</td>
    </tr>
    <tr>
      <th>8</th>
      <td>성북구</td>
      <td>451829</td>
      <td>218998</td>
      <td>232831</td>
      <td>440272</td>
      <td>214430</td>
      <td>225842</td>
      <td>11557</td>
      <td>4568</td>
      <td>6989</td>
      <td>2.36</td>
      <td>67132</td>
    </tr>
    <tr>
      <th>9</th>
      <td>강북구</td>
      <td>326063</td>
      <td>159219</td>
      <td>166844</td>
      <td>322385</td>
      <td>157769</td>
      <td>164616</td>
      <td>3678</td>
      <td>1450</td>
      <td>2228</td>
      <td>2.25</td>
      <td>57401</td>
    </tr>
    <tr>
      <th>10</th>
      <td>도봉구</td>
      <td>344096</td>
      <td>168282</td>
      <td>175814</td>
      <td>341928</td>
      <td>167465</td>
      <td>174463</td>
      <td>2168</td>
      <td>817</td>
      <td>1351</td>
      <td>2.49</td>
      <td>54969</td>
    </tr>
    <tr>
      <th>11</th>
      <td>노원구</td>
      <td>553177</td>
      <td>268396</td>
      <td>284781</td>
      <td>549365</td>
      <td>266826</td>
      <td>282539</td>
      <td>3812</td>
      <td>1570</td>
      <td>2242</td>
      <td>2.52</td>
      <td>75741</td>
    </tr>
    <tr>
      <th>12</th>
      <td>은평구</td>
      <td>489045</td>
      <td>236802</td>
      <td>252243</td>
      <td>484642</td>
      <td>234905</td>
      <td>249737</td>
      <td>4403</td>
      <td>1897</td>
      <td>2506</td>
      <td>2.38</td>
      <td>76097</td>
    </tr>
    <tr>
      <th>13</th>
      <td>서대문구</td>
      <td>323261</td>
      <td>154145</td>
      <td>169116</td>
      <td>311280</td>
      <td>150131</td>
      <td>161149</td>
      <td>11981</td>
      <td>4014</td>
      <td>7967</td>
      <td>2.26</td>
      <td>49935</td>
    </tr>
    <tr>
      <th>14</th>
      <td>마포구</td>
      <td>385507</td>
      <td>182627</td>
      <td>202880</td>
      <td>374691</td>
      <td>178430</td>
      <td>196261</td>
      <td>10816</td>
      <td>4197</td>
      <td>6619</td>
      <td>2.19</td>
      <td>50350</td>
    </tr>
    <tr>
      <th>15</th>
      <td>양천구</td>
      <td>471026</td>
      <td>232087</td>
      <td>238939</td>
      <td>467151</td>
      <td>230322</td>
      <td>236829</td>
      <td>3875</td>
      <td>1765</td>
      <td>2110</td>
      <td>2.65</td>
      <td>56742</td>
    </tr>
    <tr>
      <th>16</th>
      <td>강서구</td>
      <td>606981</td>
      <td>295221</td>
      <td>311760</td>
      <td>600257</td>
      <td>291966</td>
      <td>308291</td>
      <td>6724</td>
      <td>3255</td>
      <td>3469</td>
      <td>2.34</td>
      <td>78042</td>
    </tr>
    <tr>
      <th>17</th>
      <td>구로구</td>
      <td>440305</td>
      <td>220880</td>
      <td>219425</td>
      <td>407235</td>
      <td>202016</td>
      <td>205219</td>
      <td>33070</td>
      <td>18864</td>
      <td>14206</td>
      <td>2.37</td>
      <td>60564</td>
    </tr>
    <tr>
      <th>18</th>
      <td>금천구</td>
      <td>252752</td>
      <td>129612</td>
      <td>123140</td>
      <td>233263</td>
      <td>118530</td>
      <td>114733</td>
      <td>19489</td>
      <td>11082</td>
      <td>8407</td>
      <td>2.19</td>
      <td>34945</td>
    </tr>
    <tr>
      <th>19</th>
      <td>영등포구</td>
      <td>404501</td>
      <td>203696</td>
      <td>200805</td>
      <td>369003</td>
      <td>183888</td>
      <td>185115</td>
      <td>35498</td>
      <td>19808</td>
      <td>15690</td>
      <td>2.18</td>
      <td>54994</td>
    </tr>
    <tr>
      <th>20</th>
      <td>동작구</td>
      <td>407275</td>
      <td>197984</td>
      <td>209291</td>
      <td>394788</td>
      <td>192296</td>
      <td>202492</td>
      <td>12487</td>
      <td>5688</td>
      <td>6799</td>
      <td>2.26</td>
      <td>58133</td>
    </tr>
    <tr>
      <th>21</th>
      <td>관악구</td>
      <td>521960</td>
      <td>262235</td>
      <td>259725</td>
      <td>504048</td>
      <td>253600</td>
      <td>250448</td>
      <td>17912</td>
      <td>8635</td>
      <td>9277</td>
      <td>1.94</td>
      <td>71317</td>
    </tr>
    <tr>
      <th>22</th>
      <td>서초구</td>
      <td>443989</td>
      <td>212679</td>
      <td>231310</td>
      <td>439844</td>
      <td>210596</td>
      <td>229248</td>
      <td>4145</td>
      <td>2083</td>
      <td>2062</td>
      <td>2.52</td>
      <td>54614</td>
    </tr>
    <tr>
      <th>23</th>
      <td>강남구</td>
      <td>551888</td>
      <td>264332</td>
      <td>287556</td>
      <td>546952</td>
      <td>261815</td>
      <td>285137</td>
      <td>4936</td>
      <td>2517</td>
      <td>2419</td>
      <td>2.39</td>
      <td>66011</td>
    </tr>
    <tr>
      <th>24</th>
      <td>송파구</td>
      <td>673161</td>
      <td>327051</td>
      <td>346110</td>
      <td>666439</td>
      <td>323741</td>
      <td>342698</td>
      <td>6722</td>
      <td>3310</td>
      <td>3412</td>
      <td>2.48</td>
      <td>79093</td>
    </tr>
  </tbody>
</table>
</div>

In [12]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24 entries, 1 to 24
Data columns (total 12 columns):
구        24 non-null object
인구수      24 non-null int64
남성       24 non-null int64
여성       24 non-null int64
내국인      24 non-null int64
남성내국인    24 non-null int64
여성내국인    24 non-null int64
외국인      24 non-null int64
남성외국인    24 non-null int64
여성외국인    24 non-null int64
세대당인구    24 non-null float64
고령자      24 non-null int64
dtypes: float64(1), int64(10), object(1)
memory usage: 2.4+ KB

In [13]:
raw_data.describe()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>인구수</th>
      <th>남성</th>
      <th>여성</th>
      <th>내국인</th>
      <th>남성내국인</th>
      <th>여성내국인</th>
      <th>외국인</th>
      <th>남성외국인</th>
      <th>여성외국인</th>
      <th>세대당인구</th>
      <th>고령자</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>24.00000</td>
      <td>24.000000</td>
      <td>24.000000</td>
      <td>24.000000</td>
      <td>24.000000</td>
      <td>24.000000</td>
      <td>24.000000</td>
      <td>24.000000</td>
      <td>24.000000</td>
      <td>24.000000</td>
      <td>24.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>402186.12500</td>
      <td>196630.416667</td>
      <td>205555.708333</td>
      <td>390887.500000</td>
      <td>191167.875000</td>
      <td>199719.625000</td>
      <td>11298.625000</td>
      <td>5462.541667</td>
      <td>5836.083333</td>
      <td>2.289583</td>
      <td>55666.291667</td>
    </tr>
    <tr>
      <th>std</th>
      <td>130807.17793</td>
      <td>63429.423367</td>
      <td>67566.421352</td>
      <td>132403.806165</td>
      <td>64081.510167</td>
      <td>68457.150626</td>
      <td>8635.102884</td>
      <td>4985.018224</td>
      <td>3816.965946</td>
      <td>0.167500</td>
      <td>15518.432371</td>
    </tr>
    <tr>
      <th>min</th>
      <td>135427.00000</td>
      <td>66673.000000</td>
      <td>68754.000000</td>
      <td>126032.000000</td>
      <td>62260.000000</td>
      <td>63772.000000</td>
      <td>2168.000000</td>
      <td>817.000000</td>
      <td>1351.000000</td>
      <td>1.940000</td>
      <td>21798.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>325362.50000</td>
      <td>158231.250000</td>
      <td>168548.000000</td>
      <td>319608.750000</td>
      <td>156219.500000</td>
      <td>163749.250000</td>
      <td>4659.500000</td>
      <td>2039.250000</td>
      <td>2484.250000</td>
      <td>2.187500</td>
      <td>48652.750000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>405888.00000</td>
      <td>200840.000000</td>
      <td>204732.500000</td>
      <td>384739.500000</td>
      <td>188092.000000</td>
      <td>199376.500000</td>
      <td>9592.000000</td>
      <td>4105.500000</td>
      <td>5248.000000</td>
      <td>2.260000</td>
      <td>56708.500000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>475530.75000</td>
      <td>233265.750000</td>
      <td>242265.000000</td>
      <td>471523.750000</td>
      <td>231467.750000</td>
      <td>240056.000000</td>
      <td>14970.250000</td>
      <td>6099.750000</td>
      <td>8066.750000</td>
      <td>2.382500</td>
      <td>66291.250000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>673161.00000</td>
      <td>327051.000000</td>
      <td>346110.000000</td>
      <td>666439.000000</td>
      <td>323741.000000</td>
      <td>342698.000000</td>
      <td>35498.000000</td>
      <td>19808.000000</td>
      <td>15690.000000</td>
      <td>2.650000</td>
      <td>79093.000000</td>
    </tr>
  </tbody>
</table>
</div>

In [ ]:
## Pandas 기초

* https://pandas.pydata.org/pandas-docs/stable/10min.html

import numpy as np
s = pd.Series([1,3,5,np.nan,6,8])
s

In [16]:
import numpy as np
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [17]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=['A','B','C','D'])
df

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2013-01-01</th>
      <td>0.803842</td>
      <td>-0.117877</td>
      <td>-0.842992</td>
      <td>0.199169</td>
    </tr>
    <tr>
      <th>2013-01-02</th>
      <td>0.672485</td>
      <td>-0.033409</td>
      <td>0.770891</td>
      <td>1.539067</td>
    </tr>
    <tr>
      <th>2013-01-03</th>
      <td>1.961334</td>
      <td>1.408339</td>
      <td>0.395291</td>
      <td>0.209340</td>
    </tr>
    <tr>
      <th>2013-01-04</th>
      <td>-1.063323</td>
      <td>1.727343</td>
      <td>0.834590</td>
      <td>0.426925</td>
    </tr>
    <tr>
      <th>2013-01-05</th>
      <td>0.398952</td>
      <td>-0.278052</td>
      <td>-1.976977</td>
      <td>-0.510578</td>
    </tr>
    <tr>
      <th>2013-01-06</th>
      <td>-0.211937</td>
      <td>0.567368</td>
      <td>0.860047</td>
      <td>-1.541520</td>
    </tr>
  </tbody>
</table>
</div>

In [18]:
data = {'A' : 1.,
        'B' : pd.Timestamp('20130102'),
        'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
        'D' : np.array([3] * 4,dtype='int32'),
        'E' : pd.Categorical(["test","train","test","train"]),
        'F' : 'foo' }
data

{'A': 1.0, 'B': Timestamp('2013-01-02 00:00:00'), 'C': 0    1.0
 1    1.0
 2    1.0
 3    1.0
 dtype: float32, 'D': array([3, 3, 3, 3], dtype=int32), 'E': [test, train, test, train]
 Categories (2, object): [test, train], 'F': 'foo'}

In [19]:
df2 = pd.DataFrame(data)
df2

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
      <th>E</th>
      <th>F</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1.0</td>
      <td>2013-01-02</td>
      <td>1.0</td>
      <td>3</td>
      <td>test</td>
      <td>foo</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1.0</td>
      <td>2013-01-02</td>
      <td>1.0</td>
      <td>3</td>
      <td>train</td>
      <td>foo</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1.0</td>
      <td>2013-01-02</td>
      <td>1.0</td>
      <td>3</td>
      <td>test</td>
      <td>foo</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1.0</td>
      <td>2013-01-02</td>
      <td>1.0</td>
      <td>3</td>
      <td>train</td>
      <td>foo</td>
    </tr>
  </tbody>
</table>
</div>

In [20]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [21]:
df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2013-01-01</th>
      <td>0.803842</td>
      <td>-0.117877</td>
      <td>-0.842992</td>
      <td>0.199169</td>
    </tr>
    <tr>
      <th>2013-01-02</th>
      <td>0.672485</td>
      <td>-0.033409</td>
      <td>0.770891</td>
      <td>1.539067</td>
    </tr>
    <tr>
      <th>2013-01-03</th>
      <td>1.961334</td>
      <td>1.408339</td>
      <td>0.395291</td>
      <td>0.209340</td>
    </tr>
    <tr>
      <th>2013-01-04</th>
      <td>-1.063323</td>
      <td>1.727343</td>
      <td>0.834590</td>
      <td>0.426925</td>
    </tr>
    <tr>
      <th>2013-01-05</th>
      <td>0.398952</td>
      <td>-0.278052</td>
      <td>-1.976977</td>
      <td>-0.510578</td>
    </tr>
  </tbody>
</table>
</div>

In [19]:
df.tail()

                   A         B         C         D
2013-01-02  1.013746 -0.358602 -2.013711  1.664339
2013-01-03 -0.679952  1.485216 -1.392012  1.291496
2013-01-04  0.303551  1.530421  0.339824 -1.514466
2013-01-05 -2.391673  2.151715 -0.215974  1.326231
2013-01-06 -1.842101  1.158619 -0.924924 -1.776429

In [22]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [23]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [22]:
df.values

array([[-0.27795523, -0.04509365,  1.32208008,  0.35170079],
       [ 1.0137461 , -0.35860245, -2.01371093,  1.66433869],
       [-0.6799518 ,  1.48521646, -1.39201245,  1.29149587],
       [ 0.30355057,  1.53042113,  0.33982379, -1.51446609],
       [-2.39167347,  2.15171517, -0.21597352,  1.32623093],
       [-1.84210141,  1.15861914, -0.92492441, -1.77642912]])

In [24]:
df.describe()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>6.000000</td>
      <td>6.000000</td>
      <td>6.000000</td>
      <td>6.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>0.426892</td>
      <td>0.545619</td>
      <td>0.006808</td>
      <td>0.053734</td>
    </tr>
    <tr>
      <th>std</th>
      <td>1.018483</td>
      <td>0.847958</td>
      <td>1.166666</td>
      <td>1.025099</td>
    </tr>
    <tr>
      <th>min</th>
      <td>-1.063323</td>
      <td>-0.278052</td>
      <td>-1.976977</td>
      <td>-1.541520</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>-0.059215</td>
      <td>-0.096760</td>
      <td>-0.533421</td>
      <td>-0.333142</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>0.535719</td>
      <td>0.266980</td>
      <td>0.583091</td>
      <td>0.204254</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>0.771003</td>
      <td>1.198096</td>
      <td>0.818666</td>
      <td>0.372529</td>
    </tr>
    <tr>
      <th>max</th>
      <td>1.961334</td>
      <td>1.727343</td>
      <td>0.860047</td>
      <td>1.539067</td>
    </tr>
  </tbody>
</table>
</div>

In [25]:
df

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2013-01-01</th>
      <td>0.803842</td>
      <td>-0.117877</td>
      <td>-0.842992</td>
      <td>0.199169</td>
    </tr>
    <tr>
      <th>2013-01-02</th>
      <td>0.672485</td>
      <td>-0.033409</td>
      <td>0.770891</td>
      <td>1.539067</td>
    </tr>
    <tr>
      <th>2013-01-03</th>
      <td>1.961334</td>
      <td>1.408339</td>
      <td>0.395291</td>
      <td>0.209340</td>
    </tr>
    <tr>
      <th>2013-01-04</th>
      <td>-1.063323</td>
      <td>1.727343</td>
      <td>0.834590</td>
      <td>0.426925</td>
    </tr>
    <tr>
      <th>2013-01-05</th>
      <td>0.398952</td>
      <td>-0.278052</td>
      <td>-1.976977</td>
      <td>-0.510578</td>
    </tr>
    <tr>
      <th>2013-01-06</th>
      <td>-0.211937</td>
      <td>0.567368</td>
      <td>0.860047</td>
      <td>-1.541520</td>
    </tr>
  </tbody>
</table>
</div>

In [26]:
df.T

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>2013-01-01 00:00:00</th>
      <th>2013-01-02 00:00:00</th>
      <th>2013-01-03 00:00:00</th>
      <th>2013-01-04 00:00:00</th>
      <th>2013-01-05 00:00:00</th>
      <th>2013-01-06 00:00:00</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>A</th>
      <td>0.803842</td>
      <td>0.672485</td>
      <td>1.961334</td>
      <td>-1.063323</td>
      <td>0.398952</td>
      <td>-0.211937</td>
    </tr>
    <tr>
      <th>B</th>
      <td>-0.117877</td>
      <td>-0.033409</td>
      <td>1.408339</td>
      <td>1.727343</td>
      <td>-0.278052</td>
      <td>0.567368</td>
    </tr>
    <tr>
      <th>C</th>
      <td>-0.842992</td>
      <td>0.770891</td>
      <td>0.395291</td>
      <td>0.834590</td>
      <td>-1.976977</td>
      <td>0.860047</td>
    </tr>
    <tr>
      <th>D</th>
      <td>0.199169</td>
      <td>1.539067</td>
      <td>0.209340</td>
      <td>0.426925</td>
      <td>-0.510578</td>
      <td>-1.541520</td>
    </tr>
  </tbody>
</table>
</div>

In [27]:
df.sort_index(axis=1, ascending=False)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>D</th>
      <th>C</th>
      <th>B</th>
      <th>A</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2013-01-01</th>
      <td>0.199169</td>
      <td>-0.842992</td>
      <td>-0.117877</td>
      <td>0.803842</td>
    </tr>
    <tr>
      <th>2013-01-02</th>
      <td>1.539067</td>
      <td>0.770891</td>
      <td>-0.033409</td>
      <td>0.672485</td>
    </tr>
    <tr>
      <th>2013-01-03</th>
      <td>0.209340</td>
      <td>0.395291</td>
      <td>1.408339</td>
      <td>1.961334</td>
    </tr>
    <tr>
      <th>2013-01-04</th>
      <td>0.426925</td>
      <td>0.834590</td>
      <td>1.727343</td>
      <td>-1.063323</td>
    </tr>
    <tr>
      <th>2013-01-05</th>
      <td>-0.510578</td>
      <td>-1.976977</td>
      <td>-0.278052</td>
      <td>0.398952</td>
    </tr>
    <tr>
      <th>2013-01-06</th>
      <td>-1.541520</td>
      <td>0.860047</td>
      <td>0.567368</td>
      <td>-0.211937</td>
    </tr>
  </tbody>
</table>
</div>

In [27]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-02  1.013746 -0.358602 -2.013711  1.664339
2013-01-01 -0.277955 -0.045094  1.322080  0.351701
2013-01-06 -1.842101  1.158619 -0.924924 -1.776429
2013-01-03 -0.679952  1.485216 -1.392012  1.291496
2013-01-04  0.303551  1.530421  0.339824 -1.514466
2013-01-05 -2.391673  2.151715 -0.215974  1.326231

In [28]:
df.sort_values(by='B', ascending=False)

                   A         B         C         D
2013-01-05 -2.391673  2.151715 -0.215974  1.326231
2013-01-04  0.303551  1.530421  0.339824 -1.514466
2013-01-03 -0.679952  1.485216 -1.392012  1.291496
2013-01-06 -1.842101  1.158619 -0.924924 -1.776429
2013-01-01 -0.277955 -0.045094  1.322080  0.351701
2013-01-02  1.013746 -0.358602 -2.013711  1.664339

In [28]:
df['A']

2013-01-01    0.803842
2013-01-02    0.672485
2013-01-03    1.961334
2013-01-04   -1.063323
2013-01-05    0.398952
2013-01-06   -0.211937
Freq: D, Name: A, dtype: float64

In [29]:
df[0:3]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2013-01-01</th>
      <td>0.803842</td>
      <td>-0.117877</td>
      <td>-0.842992</td>
      <td>0.199169</td>
    </tr>
    <tr>
      <th>2013-01-02</th>
      <td>0.672485</td>
      <td>-0.033409</td>
      <td>0.770891</td>
      <td>1.539067</td>
    </tr>
    <tr>
      <th>2013-01-03</th>
      <td>1.961334</td>
      <td>1.408339</td>
      <td>0.395291</td>
      <td>0.209340</td>
    </tr>
  </tbody>
</table>
</div>

In [31]:
df.loc[dates[0]]

A   -0.277955
B   -0.045094
C    1.322080
D    0.351701
Name: 2013-01-01 00:00:00, dtype: float64

In [30]:
df.loc[:,['A','B']]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>A</th>
      <th>B</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2013-01-01</th>
      <td>0.803842</td>
      <td>-0.117877</td>
    </tr>
    <tr>
      <th>2013-01-02</th>
      <td>0.672485</td>
      <td>-0.033409</td>
    </tr>
    <tr>
      <th>2013-01-03</th>
      <td>1.961334</td>
      <td>1.408339</td>
    </tr>
    <tr>
      <th>2013-01-04</th>
      <td>-1.063323</td>
      <td>1.727343</td>
    </tr>
    <tr>
      <th>2013-01-05</th>
      <td>0.398952</td>
      <td>-0.278052</td>
    </tr>
    <tr>
      <th>2013-01-06</th>
      <td>-0.211937</td>
      <td>0.567368</td>
    </tr>
  </tbody>
</table>
</div>

In [33]:
df.loc['20130102':'20130104',['A','B']]

                   A         B
2013-01-02  1.013746 -0.358602
2013-01-03 -0.679952  1.485216
2013-01-04  0.303551  1.530421

In [34]:
df.loc['20130102',['A','B']]

A    1.013746
B   -0.358602
Name: 2013-01-02 00:00:00, dtype: float64

In [35]:
df.loc[dates[0],'A']

-0.2779552293178475

In [36]:
df.iloc[3]

A    0.303551
B    1.530421
C    0.339824
D   -1.514466
Name: 2013-01-04 00:00:00, dtype: float64

In [37]:
df.iloc[3:5,0:2]

                   A         B
2013-01-04  0.303551  1.530421
2013-01-05 -2.391673  2.151715

In [38]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2013-01-02  1.013746 -2.013711
2013-01-03 -0.679952 -1.392012
2013-01-05 -2.391673 -0.215974

In [39]:
df.iloc[1:3,:]

                   A         B         C         D
2013-01-02  1.013746 -0.358602 -2.013711  1.664339
2013-01-03 -0.679952  1.485216 -1.392012  1.291496

In [40]:
df.iloc[:,1:3]

                   B         C
2013-01-01 -0.045094  1.322080
2013-01-02 -0.358602 -2.013711
2013-01-03  1.485216 -1.392012
2013-01-04  1.530421  0.339824
2013-01-05  2.151715 -0.215974
2013-01-06  1.158619 -0.924924

In [41]:
df.iloc[1,1]

-0.3586024507544445

In [42]:
df[df['A'] > 0]

                   A         B         C         D
2013-01-02  1.013746 -0.358602 -2.013711  1.664339
2013-01-04  0.303551  1.530421  0.339824 -1.514466

In [43]:
df[df > 0]

                   A         B         C         D
2013-01-01       NaN       NaN  1.322080  0.351701
2013-01-02  1.013746       NaN       NaN  1.664339
2013-01-03       NaN  1.485216       NaN  1.291496
2013-01-04  0.303551  1.530421  0.339824       NaN
2013-01-05       NaN  2.151715       NaN  1.326231
2013-01-06       NaN  1.158619       NaN       NaN

In [44]:
a = [1,2,3]
b = a
b[1] = 0
b

[1, 0, 3]

In [45]:
a

[1, 0, 3]

In [46]:
c = [1,2,3]
d = c.copy()
d[1] = 0
d

[1, 0, 3]

In [47]:
c

[1, 2, 3]

In [48]:
df2 = df.copy()

In [49]:
df2['E'] = ['one', 'one','two','three','four','three']
df2

                   A         B         C         D      E
2013-01-01 -0.277955 -0.045094  1.322080  0.351701    one
2013-01-02  1.013746 -0.358602 -2.013711  1.664339    one
2013-01-03 -0.679952  1.485216 -1.392012  1.291496    two
2013-01-04  0.303551  1.530421  0.339824 -1.514466  three
2013-01-05 -2.391673  2.151715 -0.215974  1.326231   four
2013-01-06 -1.842101  1.158619 -0.924924 -1.776429  three

In [50]:
data = {'a':[1,2,3,4],'b':[0,1,0.1,0.2],'sub':['1st','2nd','3rd','4th']}
data

{'a': [1, 2, 3, 4], 'b': [0, 1, 0.1, 0.2], 'sub': ['1st', '2nd', '3rd', '4th']}

In [51]:
df3 = pd.DataFrame(data)
df3

   a    b  sub
0  1  0.0  1st
1  2  1.0  2nd
2  3  0.1  3rd
3  4  0.2  4th

In [52]:
df3 = pd.DataFrame(data, columns=['sub','a','b'])
df3

   sub  a    b
0  1st  1  0.0
1  2nd  2  1.0
2  3rd  3  0.1
3  4th  4  0.2

In [53]:
df3 = df3.reindex(index=[0,2,1,3])
df3

   sub  a    b
0  1st  1  0.0
2  3rd  3  0.1
1  2nd  2  1.0
3  4th  4  0.2

In [54]:
df3['c'] = np.nan
df3

   sub  a    b   c
0  1st  1  0.0 NaN
2  3rd  3  0.1 NaN
1  2nd  2  1.0 NaN
3  4th  4  0.2 NaN

In [55]:
df3.loc[1,['c']] = 2
df3

   sub  a    b    c
0  1st  1  0.0  NaN
2  3rd  3  0.1  NaN
1  2nd  2  1.0  2.0
3  4th  4  0.2  NaN

In [56]:
df3['d']= df3['a'] + df3['b']
df3

   sub  a    b    c    d
0  1st  1  0.0  NaN  1.0
2  3rd  3  0.1  NaN  3.1
1  2nd  2  1.0  2.0  3.0
3  4th  4  0.2  NaN  4.2

In [57]:
df3.loc[4] = np.nan
df3

   sub    a    b    c    d
0  1st  1.0  0.0  NaN  1.0
2  3rd  3.0  0.1  NaN  3.1
1  2nd  2.0  1.0  2.0  3.0
3  4th  4.0  0.2  NaN  4.2
4  NaN  NaN  NaN  NaN  NaN

In [58]:
df3.loc[4] = ['5th','a','b','c','d']
df3

   sub  a    b    c    d
0  1st  1    0  NaN    1
2  3rd  3  0.1  NaN  3.1
1  2nd  2    1    2    3
3  4th  4  0.2  NaN  4.2
4  5th  a    b    c    d

## 인구비율만들기

In [31]:
raw_data

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>구</th>
      <th>인구수</th>
      <th>남성</th>
      <th>여성</th>
      <th>내국인</th>
      <th>남성내국인</th>
      <th>여성내국인</th>
      <th>외국인</th>
      <th>남성외국인</th>
      <th>여성외국인</th>
      <th>세대당인구</th>
      <th>고령자</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>종로구</td>
      <td>163569</td>
      <td>79522</td>
      <td>84047</td>
      <td>153780</td>
      <td>75247</td>
      <td>78533</td>
      <td>9789</td>
      <td>4275</td>
      <td>5514</td>
      <td>2.09</td>
      <td>26512</td>
    </tr>
    <tr>
      <th>2</th>
      <td>중구</td>
      <td>135427</td>
      <td>66673</td>
      <td>68754</td>
      <td>126032</td>
      <td>62260</td>
      <td>63772</td>
      <td>9395</td>
      <td>4413</td>
      <td>4982</td>
      <td>2.06</td>
      <td>21798</td>
    </tr>
    <tr>
      <th>3</th>
      <td>용산구</td>
      <td>245245</td>
      <td>119963</td>
      <td>125282</td>
      <td>229677</td>
      <td>111078</td>
      <td>118599</td>
      <td>15568</td>
      <td>8885</td>
      <td>6683</td>
      <td>2.12</td>
      <td>37331</td>
    </tr>
    <tr>
      <th>4</th>
      <td>성동구</td>
      <td>316068</td>
      <td>155268</td>
      <td>160800</td>
      <td>308066</td>
      <td>151571</td>
      <td>156495</td>
      <td>8002</td>
      <td>3697</td>
      <td>4305</td>
      <td>2.27</td>
      <td>42171</td>
    </tr>
    <tr>
      <th>5</th>
      <td>광진구</td>
      <td>370519</td>
      <td>179621</td>
      <td>190898</td>
      <td>355748</td>
      <td>173216</td>
      <td>182532</td>
      <td>14771</td>
      <td>6405</td>
      <td>8366</td>
      <td>2.21</td>
      <td>44806</td>
    </tr>
    <tr>
      <th>6</th>
      <td>동대문구</td>
      <td>364527</td>
      <td>180126</td>
      <td>184401</td>
      <td>348903</td>
      <td>174128</td>
      <td>174775</td>
      <td>15624</td>
      <td>5998</td>
      <td>9626</td>
      <td>2.17</td>
      <td>56675</td>
    </tr>
    <tr>
      <th>7</th>
      <td>중랑구</td>
      <td>410296</td>
      <td>203711</td>
      <td>206585</td>
      <td>405551</td>
      <td>201803</td>
      <td>203748</td>
      <td>4745</td>
      <td>1908</td>
      <td>2837</td>
      <td>2.26</td>
      <td>60618</td>
    </tr>
    <tr>
      <th>8</th>
      <td>성북구</td>
      <td>451829</td>
      <td>218998</td>
      <td>232831</td>
      <td>440272</td>
      <td>214430</td>
      <td>225842</td>
      <td>11557</td>
      <td>4568</td>
      <td>6989</td>
      <td>2.36</td>
      <td>67132</td>
    </tr>
    <tr>
      <th>9</th>
      <td>강북구</td>
      <td>326063</td>
      <td>159219</td>
      <td>166844</td>
      <td>322385</td>
      <td>157769</td>
      <td>164616</td>
      <td>3678</td>
      <td>1450</td>
      <td>2228</td>
      <td>2.25</td>
      <td>57401</td>
    </tr>
    <tr>
      <th>10</th>
      <td>도봉구</td>
      <td>344096</td>
      <td>168282</td>
      <td>175814</td>
      <td>341928</td>
      <td>167465</td>
      <td>174463</td>
      <td>2168</td>
      <td>817</td>
      <td>1351</td>
      <td>2.49</td>
      <td>54969</td>
    </tr>
    <tr>
      <th>11</th>
      <td>노원구</td>
      <td>553177</td>
      <td>268396</td>
      <td>284781</td>
      <td>549365</td>
      <td>266826</td>
      <td>282539</td>
      <td>3812</td>
      <td>1570</td>
      <td>2242</td>
      <td>2.52</td>
      <td>75741</td>
    </tr>
    <tr>
      <th>12</th>
      <td>은평구</td>
      <td>489045</td>
      <td>236802</td>
      <td>252243</td>
      <td>484642</td>
      <td>234905</td>
      <td>249737</td>
      <td>4403</td>
      <td>1897</td>
      <td>2506</td>
      <td>2.38</td>
      <td>76097</td>
    </tr>
    <tr>
      <th>13</th>
      <td>서대문구</td>
      <td>323261</td>
      <td>154145</td>
      <td>169116</td>
      <td>311280</td>
      <td>150131</td>
      <td>161149</td>
      <td>11981</td>
      <td>4014</td>
      <td>7967</td>
      <td>2.26</td>
      <td>49935</td>
    </tr>
    <tr>
      <th>14</th>
      <td>마포구</td>
      <td>385507</td>
      <td>182627</td>
      <td>202880</td>
      <td>374691</td>
      <td>178430</td>
      <td>196261</td>
      <td>10816</td>
      <td>4197</td>
      <td>6619</td>
      <td>2.19</td>
      <td>50350</td>
    </tr>
    <tr>
      <th>15</th>
      <td>양천구</td>
      <td>471026</td>
      <td>232087</td>
      <td>238939</td>
      <td>467151</td>
      <td>230322</td>
      <td>236829</td>
      <td>3875</td>
      <td>1765</td>
      <td>2110</td>
      <td>2.65</td>
      <td>56742</td>
    </tr>
    <tr>
      <th>16</th>
      <td>강서구</td>
      <td>606981</td>
      <td>295221</td>
      <td>311760</td>
      <td>600257</td>
      <td>291966</td>
      <td>308291</td>
      <td>6724</td>
      <td>3255</td>
      <td>3469</td>
      <td>2.34</td>
      <td>78042</td>
    </tr>
    <tr>
      <th>17</th>
      <td>구로구</td>
      <td>440305</td>
      <td>220880</td>
      <td>219425</td>
      <td>407235</td>
      <td>202016</td>
      <td>205219</td>
      <td>33070</td>
      <td>18864</td>
      <td>14206</td>
      <td>2.37</td>
      <td>60564</td>
    </tr>
    <tr>
      <th>18</th>
      <td>금천구</td>
      <td>252752</td>
      <td>129612</td>
      <td>123140</td>
      <td>233263</td>
      <td>118530</td>
      <td>114733</td>
      <td>19489</td>
      <td>11082</td>
      <td>8407</td>
      <td>2.19</td>
      <td>34945</td>
    </tr>
    <tr>
      <th>19</th>
      <td>영등포구</td>
      <td>404501</td>
      <td>203696</td>
      <td>200805</td>
      <td>369003</td>
      <td>183888</td>
      <td>185115</td>
      <td>35498</td>
      <td>19808</td>
      <td>15690</td>
      <td>2.18</td>
      <td>54994</td>
    </tr>
    <tr>
      <th>20</th>
      <td>동작구</td>
      <td>407275</td>
      <td>197984</td>
      <td>209291</td>
      <td>394788</td>
      <td>192296</td>
      <td>202492</td>
      <td>12487</td>
      <td>5688</td>
      <td>6799</td>
      <td>2.26</td>
      <td>58133</td>
    </tr>
    <tr>
      <th>21</th>
      <td>관악구</td>
      <td>521960</td>
      <td>262235</td>
      <td>259725</td>
      <td>504048</td>
      <td>253600</td>
      <td>250448</td>
      <td>17912</td>
      <td>8635</td>
      <td>9277</td>
      <td>1.94</td>
      <td>71317</td>
    </tr>
    <tr>
      <th>22</th>
      <td>서초구</td>
      <td>443989</td>
      <td>212679</td>
      <td>231310</td>
      <td>439844</td>
      <td>210596</td>
      <td>229248</td>
      <td>4145</td>
      <td>2083</td>
      <td>2062</td>
      <td>2.52</td>
      <td>54614</td>
    </tr>
    <tr>
      <th>23</th>
      <td>강남구</td>
      <td>551888</td>
      <td>264332</td>
      <td>287556</td>
      <td>546952</td>
      <td>261815</td>
      <td>285137</td>
      <td>4936</td>
      <td>2517</td>
      <td>2419</td>
      <td>2.39</td>
      <td>66011</td>
    </tr>
    <tr>
      <th>24</th>
      <td>송파구</td>
      <td>673161</td>
      <td>327051</td>
      <td>346110</td>
      <td>666439</td>
      <td>323741</td>
      <td>342698</td>
      <td>6722</td>
      <td>3310</td>
      <td>3412</td>
      <td>2.48</td>
      <td>79093</td>
    </tr>
  </tbody>
</table>
</div>

In [32]:
raw_data.corr()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>인구수</th>
      <th>남성</th>
      <th>여성</th>
      <th>내국인</th>
      <th>남성내국인</th>
      <th>여성내국인</th>
      <th>외국인</th>
      <th>남성외국인</th>
      <th>여성외국인</th>
      <th>세대당인구</th>
      <th>고령자</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>인구수</th>
      <td>1.000000</td>
      <td>0.998466</td>
      <td>0.998648</td>
      <td>0.997921</td>
      <td>0.998256</td>
      <td>0.995642</td>
      <td>-0.153021</td>
      <td>-0.127911</td>
      <td>-0.179125</td>
      <td>0.540802</td>
      <td>0.939840</td>
    </tr>
    <tr>
      <th>남성</th>
      <td>0.998466</td>
      <td>1.000000</td>
      <td>0.994237</td>
      <td>0.994199</td>
      <td>0.996995</td>
      <td>0.989624</td>
      <td>-0.119200</td>
      <td>-0.092186</td>
      <td>-0.149270</td>
      <td>0.524991</td>
      <td>0.940356</td>
    </tr>
    <tr>
      <th>여성</th>
      <td>0.998648</td>
      <td>0.994237</td>
      <td>1.000000</td>
      <td>0.998628</td>
      <td>0.996652</td>
      <td>0.998511</td>
      <td>-0.184344</td>
      <td>-0.161092</td>
      <td>-0.206653</td>
      <td>0.554135</td>
      <td>0.936731</td>
    </tr>
    <tr>
      <th>내국인</th>
      <td>0.997921</td>
      <td>0.994199</td>
      <td>0.998628</td>
      <td>1.000000</td>
      <td>0.998913</td>
      <td>0.999048</td>
      <td>-0.216394</td>
      <td>-0.190643</td>
      <td>-0.240565</td>
      <td>0.562668</td>
      <td>0.939855</td>
    </tr>
    <tr>
      <th>남성내국인</th>
      <td>0.998256</td>
      <td>0.996995</td>
      <td>0.996652</td>
      <td>0.998913</td>
      <td>1.000000</td>
      <td>0.995928</td>
      <td>-0.194653</td>
      <td>-0.169040</td>
      <td>-0.219594</td>
      <td>0.548349</td>
      <td>0.943333</td>
    </tr>
    <tr>
      <th>여성내국인</th>
      <td>0.995642</td>
      <td>0.989624</td>
      <td>0.998511</td>
      <td>0.999048</td>
      <td>0.995928</td>
      <td>1.000000</td>
      <td>-0.236319</td>
      <td>-0.210489</td>
      <td>-0.259721</td>
      <td>0.574964</td>
      <td>0.934747</td>
    </tr>
    <tr>
      <th>외국인</th>
      <td>-0.153021</td>
      <td>-0.119200</td>
      <td>-0.184344</td>
      <td>-0.216394</td>
      <td>-0.194653</td>
      <td>-0.236319</td>
      <td>1.000000</td>
      <td>0.985526</td>
      <td>0.975183</td>
      <td>-0.435277</td>
      <td>-0.174002</td>
    </tr>
    <tr>
      <th>남성외국인</th>
      <td>-0.127911</td>
      <td>-0.092186</td>
      <td>-0.161092</td>
      <td>-0.190643</td>
      <td>-0.169040</td>
      <td>-0.210489</td>
      <td>0.985526</td>
      <td>1.000000</td>
      <td>0.923534</td>
      <td>-0.368933</td>
      <td>-0.161272</td>
    </tr>
    <tr>
      <th>여성외국인</th>
      <td>-0.179125</td>
      <td>-0.149270</td>
      <td>-0.206653</td>
      <td>-0.240565</td>
      <td>-0.219594</td>
      <td>-0.259721</td>
      <td>0.975183</td>
      <td>0.923534</td>
      <td>1.000000</td>
      <td>-0.502892</td>
      <td>-0.183021</td>
    </tr>
    <tr>
      <th>세대당인구</th>
      <td>0.540802</td>
      <td>0.524991</td>
      <td>0.554135</td>
      <td>0.562668</td>
      <td>0.548349</td>
      <td>0.574964</td>
      <td>-0.435277</td>
      <td>-0.368933</td>
      <td>-0.502892</td>
      <td>1.000000</td>
      <td>0.486673</td>
    </tr>
    <tr>
      <th>고령자</th>
      <td>0.939840</td>
      <td>0.940356</td>
      <td>0.936731</td>
      <td>0.939855</td>
      <td>0.943333</td>
      <td>0.934747</td>
      <td>-0.174002</td>
      <td>-0.161272</td>
      <td>-0.183021</td>
      <td>0.486673</td>
      <td>1.000000</td>
    </tr>
  </tbody>
</table>
</div>

In [33]:
raw_data['외국인비율'] = raw_data['외국인'] / raw_data['인구수']
raw_data['고령비율'] = raw_data['고령자'] / raw_data['인구수']
raw_data['여성비율'] = raw_data['여성'] / raw_data['인구수']
raw_data.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>구</th>
      <th>인구수</th>
      <th>남성</th>
      <th>여성</th>
      <th>내국인</th>
      <th>남성내국인</th>
      <th>여성내국인</th>
      <th>외국인</th>
      <th>남성외국인</th>
      <th>여성외국인</th>
      <th>세대당인구</th>
      <th>고령자</th>
      <th>외국인비율</th>
      <th>고령비율</th>
      <th>여성비율</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>종로구</td>
      <td>163569</td>
      <td>79522</td>
      <td>84047</td>
      <td>153780</td>
      <td>75247</td>
      <td>78533</td>
      <td>9789</td>
      <td>4275</td>
      <td>5514</td>
      <td>2.09</td>
      <td>26512</td>
      <td>0.059846</td>
      <td>0.162085</td>
      <td>0.513832</td>
    </tr>
    <tr>
      <th>2</th>
      <td>중구</td>
      <td>135427</td>
      <td>66673</td>
      <td>68754</td>
      <td>126032</td>
      <td>62260</td>
      <td>63772</td>
      <td>9395</td>
      <td>4413</td>
      <td>4982</td>
      <td>2.06</td>
      <td>21798</td>
      <td>0.069373</td>
      <td>0.160958</td>
      <td>0.507683</td>
    </tr>
    <tr>
      <th>3</th>
      <td>용산구</td>
      <td>245245</td>
      <td>119963</td>
      <td>125282</td>
      <td>229677</td>
      <td>111078</td>
      <td>118599</td>
      <td>15568</td>
      <td>8885</td>
      <td>6683</td>
      <td>2.12</td>
      <td>37331</td>
      <td>0.063479</td>
      <td>0.152219</td>
      <td>0.510844</td>
    </tr>
    <tr>
      <th>4</th>
      <td>성동구</td>
      <td>316068</td>
      <td>155268</td>
      <td>160800</td>
      <td>308066</td>
      <td>151571</td>
      <td>156495</td>
      <td>8002</td>
      <td>3697</td>
      <td>4305</td>
      <td>2.27</td>
      <td>42171</td>
      <td>0.025317</td>
      <td>0.133424</td>
      <td>0.508751</td>
    </tr>
    <tr>
      <th>5</th>
      <td>광진구</td>
      <td>370519</td>
      <td>179621</td>
      <td>190898</td>
      <td>355748</td>
      <td>173216</td>
      <td>182532</td>
      <td>14771</td>
      <td>6405</td>
      <td>8366</td>
      <td>2.21</td>
      <td>44806</td>
      <td>0.039866</td>
      <td>0.120928</td>
      <td>0.515218</td>
    </tr>
  </tbody>
</table>
</div>

In [34]:
raw_data.sort_values(by='인구수', ascending=False)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>구</th>
      <th>인구수</th>
      <th>남성</th>
      <th>여성</th>
      <th>내국인</th>
      <th>남성내국인</th>
      <th>여성내국인</th>
      <th>외국인</th>
      <th>남성외국인</th>
      <th>여성외국인</th>
      <th>세대당인구</th>
      <th>고령자</th>
      <th>외국인비율</th>
      <th>고령비율</th>
      <th>여성비율</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>24</th>
      <td>송파구</td>
      <td>673161</td>
      <td>327051</td>
      <td>346110</td>
      <td>666439</td>
      <td>323741</td>
      <td>342698</td>
      <td>6722</td>
      <td>3310</td>
      <td>3412</td>
      <td>2.48</td>
      <td>79093</td>
      <td>0.009986</td>
      <td>0.117495</td>
      <td>0.514156</td>
    </tr>
    <tr>
      <th>16</th>
      <td>강서구</td>
      <td>606981</td>
      <td>295221</td>
      <td>311760</td>
      <td>600257</td>
      <td>291966</td>
      <td>308291</td>
      <td>6724</td>
      <td>3255</td>
      <td>3469</td>
      <td>2.34</td>
      <td>78042</td>
      <td>0.011078</td>
      <td>0.128574</td>
      <td>0.513624</td>
    </tr>
    <tr>
      <th>11</th>
      <td>노원구</td>
      <td>553177</td>
      <td>268396</td>
      <td>284781</td>
      <td>549365</td>
      <td>266826</td>
      <td>282539</td>
      <td>3812</td>
      <td>1570</td>
      <td>2242</td>
      <td>2.52</td>
      <td>75741</td>
      <td>0.006891</td>
      <td>0.136920</td>
      <td>0.514810</td>
    </tr>
    <tr>
      <th>23</th>
      <td>강남구</td>
      <td>551888</td>
      <td>264332</td>
      <td>287556</td>
      <td>546952</td>
      <td>261815</td>
      <td>285137</td>
      <td>4936</td>
      <td>2517</td>
      <td>2419</td>
      <td>2.39</td>
      <td>66011</td>
      <td>0.008944</td>
      <td>0.119609</td>
      <td>0.521041</td>
    </tr>
    <tr>
      <th>21</th>
      <td>관악구</td>
      <td>521960</td>
      <td>262235</td>
      <td>259725</td>
      <td>504048</td>
      <td>253600</td>
      <td>250448</td>
      <td>17912</td>
      <td>8635</td>
      <td>9277</td>
      <td>1.94</td>
      <td>71317</td>
      <td>0.034317</td>
      <td>0.136633</td>
      <td>0.497596</td>
    </tr>
    <tr>
      <th>12</th>
      <td>은평구</td>
      <td>489045</td>
      <td>236802</td>
      <td>252243</td>
      <td>484642</td>
      <td>234905</td>
      <td>249737</td>
      <td>4403</td>
      <td>1897</td>
      <td>2506</td>
      <td>2.38</td>
      <td>76097</td>
      <td>0.009003</td>
      <td>0.155603</td>
      <td>0.515787</td>
    </tr>
    <tr>
      <th>15</th>
      <td>양천구</td>
      <td>471026</td>
      <td>232087</td>
      <td>238939</td>
      <td>467151</td>
      <td>230322</td>
      <td>236829</td>
      <td>3875</td>
      <td>1765</td>
      <td>2110</td>
      <td>2.65</td>
      <td>56742</td>
      <td>0.008227</td>
      <td>0.120465</td>
      <td>0.507273</td>
    </tr>
    <tr>
      <th>8</th>
      <td>성북구</td>
      <td>451829</td>
      <td>218998</td>
      <td>232831</td>
      <td>440272</td>
      <td>214430</td>
      <td>225842</td>
      <td>11557</td>
      <td>4568</td>
      <td>6989</td>
      <td>2.36</td>
      <td>67132</td>
      <td>0.025578</td>
      <td>0.148578</td>
      <td>0.515308</td>
    </tr>
    <tr>
      <th>22</th>
      <td>서초구</td>
      <td>443989</td>
      <td>212679</td>
      <td>231310</td>
      <td>439844</td>
      <td>210596</td>
      <td>229248</td>
      <td>4145</td>
      <td>2083</td>
      <td>2062</td>
      <td>2.52</td>
      <td>54614</td>
      <td>0.009336</td>
      <td>0.123008</td>
      <td>0.520981</td>
    </tr>
    <tr>
      <th>17</th>
      <td>구로구</td>
      <td>440305</td>
      <td>220880</td>
      <td>219425</td>
      <td>407235</td>
      <td>202016</td>
      <td>205219</td>
      <td>33070</td>
      <td>18864</td>
      <td>14206</td>
      <td>2.37</td>
      <td>60564</td>
      <td>0.075107</td>
      <td>0.137550</td>
      <td>0.498348</td>
    </tr>
    <tr>
      <th>7</th>
      <td>중랑구</td>
      <td>410296</td>
      <td>203711</td>
      <td>206585</td>
      <td>405551</td>
      <td>201803</td>
      <td>203748</td>
      <td>4745</td>
      <td>1908</td>
      <td>2837</td>
      <td>2.26</td>
      <td>60618</td>
      <td>0.011565</td>
      <td>0.147742</td>
      <td>0.503502</td>
    </tr>
    <tr>
      <th>20</th>
      <td>동작구</td>
      <td>407275</td>
      <td>197984</td>
      <td>209291</td>
      <td>394788</td>
      <td>192296</td>
      <td>202492</td>
      <td>12487</td>
      <td>5688</td>
      <td>6799</td>
      <td>2.26</td>
      <td>58133</td>
      <td>0.030660</td>
      <td>0.142736</td>
      <td>0.513881</td>
    </tr>
    <tr>
      <th>19</th>
      <td>영등포구</td>
      <td>404501</td>
      <td>203696</td>
      <td>200805</td>
      <td>369003</td>
      <td>183888</td>
      <td>185115</td>
      <td>35498</td>
      <td>19808</td>
      <td>15690</td>
      <td>2.18</td>
      <td>54994</td>
      <td>0.087758</td>
      <td>0.135955</td>
      <td>0.496426</td>
    </tr>
    <tr>
      <th>14</th>
      <td>마포구</td>
      <td>385507</td>
      <td>182627</td>
      <td>202880</td>
      <td>374691</td>
      <td>178430</td>
      <td>196261</td>
      <td>10816</td>
      <td>4197</td>
      <td>6619</td>
      <td>2.19</td>
      <td>50350</td>
      <td>0.028057</td>
      <td>0.130607</td>
      <td>0.526268</td>
    </tr>
    <tr>
      <th>5</th>
      <td>광진구</td>
      <td>370519</td>
      <td>179621</td>
      <td>190898</td>
      <td>355748</td>
      <td>173216</td>
      <td>182532</td>
      <td>14771</td>
      <td>6405</td>
      <td>8366</td>
      <td>2.21</td>
      <td>44806</td>
      <td>0.039866</td>
      <td>0.120928</td>
      <td>0.515218</td>
    </tr>
    <tr>
      <th>6</th>
      <td>동대문구</td>
      <td>364527</td>
      <td>180126</td>
      <td>184401</td>
      <td>348903</td>
      <td>174128</td>
      <td>174775</td>
      <td>15624</td>
      <td>5998</td>
      <td>9626</td>
      <td>2.17</td>
      <td>56675</td>
      <td>0.042861</td>
      <td>0.155475</td>
      <td>0.505864</td>
    </tr>
    <tr>
      <th>10</th>
      <td>도봉구</td>
      <td>344096</td>
      <td>168282</td>
      <td>175814</td>
      <td>341928</td>
      <td>167465</td>
      <td>174463</td>
      <td>2168</td>
      <td>817</td>
      <td>1351</td>
      <td>2.49</td>
      <td>54969</td>
      <td>0.006301</td>
      <td>0.159749</td>
      <td>0.510945</td>
    </tr>
    <tr>
      <th>9</th>
      <td>강북구</td>
      <td>326063</td>
      <td>159219</td>
      <td>166844</td>
      <td>322385</td>
      <td>157769</td>
      <td>164616</td>
      <td>3678</td>
      <td>1450</td>
      <td>2228</td>
      <td>2.25</td>
      <td>57401</td>
      <td>0.011280</td>
      <td>0.176043</td>
      <td>0.511693</td>
    </tr>
    <tr>
      <th>13</th>
      <td>서대문구</td>
      <td>323261</td>
      <td>154145</td>
      <td>169116</td>
      <td>311280</td>
      <td>150131</td>
      <td>161149</td>
      <td>11981</td>
      <td>4014</td>
      <td>7967</td>
      <td>2.26</td>
      <td>49935</td>
      <td>0.037063</td>
      <td>0.154473</td>
      <td>0.523156</td>
    </tr>
    <tr>
      <th>4</th>
      <td>성동구</td>
      <td>316068</td>
      <td>155268</td>
      <td>160800</td>
      <td>308066</td>
      <td>151571</td>
      <td>156495</td>
      <td>8002</td>
      <td>3697</td>
      <td>4305</td>
      <td>2.27</td>
      <td>42171</td>
      <td>0.025317</td>
      <td>0.133424</td>
      <td>0.508751</td>
    </tr>
    <tr>
      <th>18</th>
      <td>금천구</td>
      <td>252752</td>
      <td>129612</td>
      <td>123140</td>
      <td>233263</td>
      <td>118530</td>
      <td>114733</td>
      <td>19489</td>
      <td>11082</td>
      <td>8407</td>
      <td>2.19</td>
      <td>34945</td>
      <td>0.077107</td>
      <td>0.138258</td>
      <td>0.487197</td>
    </tr>
    <tr>
      <th>3</th>
      <td>용산구</td>
      <td>245245</td>
      <td>119963</td>
      <td>125282</td>
      <td>229677</td>
      <td>111078</td>
      <td>118599</td>
      <td>15568</td>
      <td>8885</td>
      <td>6683</td>
      <td>2.12</td>
      <td>37331</td>
      <td>0.063479</td>
      <td>0.152219</td>
      <td>0.510844</td>
    </tr>
    <tr>
      <th>1</th>
      <td>종로구</td>
      <td>163569</td>
      <td>79522</td>
      <td>84047</td>
      <td>153780</td>
      <td>75247</td>
      <td>78533</td>
      <td>9789</td>
      <td>4275</td>
      <td>5514</td>
      <td>2.09</td>
      <td>26512</td>
      <td>0.059846</td>
      <td>0.162085</td>
      <td>0.513832</td>
    </tr>
    <tr>
      <th>2</th>
      <td>중구</td>
      <td>135427</td>
      <td>66673</td>
      <td>68754</td>
      <td>126032</td>
      <td>62260</td>
      <td>63772</td>
      <td>9395</td>
      <td>4413</td>
      <td>4982</td>
      <td>2.06</td>
      <td>21798</td>
      <td>0.069373</td>
      <td>0.160958</td>
      <td>0.507683</td>
    </tr>
  </tbody>
</table>
</div>

In [35]:
raw_data.sort_values(by='여성비율', ascending=False)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>구</th>
      <th>인구수</th>
      <th>남성</th>
      <th>여성</th>
      <th>내국인</th>
      <th>남성내국인</th>
      <th>여성내국인</th>
      <th>외국인</th>
      <th>남성외국인</th>
      <th>여성외국인</th>
      <th>세대당인구</th>
      <th>고령자</th>
      <th>외국인비율</th>
      <th>고령비율</th>
      <th>여성비율</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>14</th>
      <td>마포구</td>
      <td>385507</td>
      <td>182627</td>
      <td>202880</td>
      <td>374691</td>
      <td>178430</td>
      <td>196261</td>
      <td>10816</td>
      <td>4197</td>
      <td>6619</td>
      <td>2.19</td>
      <td>50350</td>
      <td>0.028057</td>
      <td>0.130607</td>
      <td>0.526268</td>
    </tr>
    <tr>
      <th>13</th>
      <td>서대문구</td>
      <td>323261</td>
      <td>154145</td>
      <td>169116</td>
      <td>311280</td>
      <td>150131</td>
      <td>161149</td>
      <td>11981</td>
      <td>4014</td>
      <td>7967</td>
      <td>2.26</td>
      <td>49935</td>
      <td>0.037063</td>
      <td>0.154473</td>
      <td>0.523156</td>
    </tr>
    <tr>
      <th>23</th>
      <td>강남구</td>
      <td>551888</td>
      <td>264332</td>
      <td>287556</td>
      <td>546952</td>
      <td>261815</td>
      <td>285137</td>
      <td>4936</td>
      <td>2517</td>
      <td>2419</td>
      <td>2.39</td>
      <td>66011</td>
      <td>0.008944</td>
      <td>0.119609</td>
      <td>0.521041</td>
    </tr>
    <tr>
      <th>22</th>
      <td>서초구</td>
      <td>443989</td>
      <td>212679</td>
      <td>231310</td>
      <td>439844</td>
      <td>210596</td>
      <td>229248</td>
      <td>4145</td>
      <td>2083</td>
      <td>2062</td>
      <td>2.52</td>
      <td>54614</td>
      <td>0.009336</td>
      <td>0.123008</td>
      <td>0.520981</td>
    </tr>
    <tr>
      <th>12</th>
      <td>은평구</td>
      <td>489045</td>
      <td>236802</td>
      <td>252243</td>
      <td>484642</td>
      <td>234905</td>
      <td>249737</td>
      <td>4403</td>
      <td>1897</td>
      <td>2506</td>
      <td>2.38</td>
      <td>76097</td>
      <td>0.009003</td>
      <td>0.155603</td>
      <td>0.515787</td>
    </tr>
    <tr>
      <th>8</th>
      <td>성북구</td>
      <td>451829</td>
      <td>218998</td>
      <td>232831</td>
      <td>440272</td>
      <td>214430</td>
      <td>225842</td>
      <td>11557</td>
      <td>4568</td>
      <td>6989</td>
      <td>2.36</td>
      <td>67132</td>
      <td>0.025578</td>
      <td>0.148578</td>
      <td>0.515308</td>
    </tr>
    <tr>
      <th>5</th>
      <td>광진구</td>
      <td>370519</td>
      <td>179621</td>
      <td>190898</td>
      <td>355748</td>
      <td>173216</td>
      <td>182532</td>
      <td>14771</td>
      <td>6405</td>
      <td>8366</td>
      <td>2.21</td>
      <td>44806</td>
      <td>0.039866</td>
      <td>0.120928</td>
      <td>0.515218</td>
    </tr>
    <tr>
      <th>11</th>
      <td>노원구</td>
      <td>553177</td>
      <td>268396</td>
      <td>284781</td>
      <td>549365</td>
      <td>266826</td>
      <td>282539</td>
      <td>3812</td>
      <td>1570</td>
      <td>2242</td>
      <td>2.52</td>
      <td>75741</td>
      <td>0.006891</td>
      <td>0.136920</td>
      <td>0.514810</td>
    </tr>
    <tr>
      <th>24</th>
      <td>송파구</td>
      <td>673161</td>
      <td>327051</td>
      <td>346110</td>
      <td>666439</td>
      <td>323741</td>
      <td>342698</td>
      <td>6722</td>
      <td>3310</td>
      <td>3412</td>
      <td>2.48</td>
      <td>79093</td>
      <td>0.009986</td>
      <td>0.117495</td>
      <td>0.514156</td>
    </tr>
    <tr>
      <th>20</th>
      <td>동작구</td>
      <td>407275</td>
      <td>197984</td>
      <td>209291</td>
      <td>394788</td>
      <td>192296</td>
      <td>202492</td>
      <td>12487</td>
      <td>5688</td>
      <td>6799</td>
      <td>2.26</td>
      <td>58133</td>
      <td>0.030660</td>
      <td>0.142736</td>
      <td>0.513881</td>
    </tr>
    <tr>
      <th>1</th>
      <td>종로구</td>
      <td>163569</td>
      <td>79522</td>
      <td>84047</td>
      <td>153780</td>
      <td>75247</td>
      <td>78533</td>
      <td>9789</td>
      <td>4275</td>
      <td>5514</td>
      <td>2.09</td>
      <td>26512</td>
      <td>0.059846</td>
      <td>0.162085</td>
      <td>0.513832</td>
    </tr>
    <tr>
      <th>16</th>
      <td>강서구</td>
      <td>606981</td>
      <td>295221</td>
      <td>311760</td>
      <td>600257</td>
      <td>291966</td>
      <td>308291</td>
      <td>6724</td>
      <td>3255</td>
      <td>3469</td>
      <td>2.34</td>
      <td>78042</td>
      <td>0.011078</td>
      <td>0.128574</td>
      <td>0.513624</td>
    </tr>
    <tr>
      <th>9</th>
      <td>강북구</td>
      <td>326063</td>
      <td>159219</td>
      <td>166844</td>
      <td>322385</td>
      <td>157769</td>
      <td>164616</td>
      <td>3678</td>
      <td>1450</td>
      <td>2228</td>
      <td>2.25</td>
      <td>57401</td>
      <td>0.011280</td>
      <td>0.176043</td>
      <td>0.511693</td>
    </tr>
    <tr>
      <th>10</th>
      <td>도봉구</td>
      <td>344096</td>
      <td>168282</td>
      <td>175814</td>
      <td>341928</td>
      <td>167465</td>
      <td>174463</td>
      <td>2168</td>
      <td>817</td>
      <td>1351</td>
      <td>2.49</td>
      <td>54969</td>
      <td>0.006301</td>
      <td>0.159749</td>
      <td>0.510945</td>
    </tr>
    <tr>
      <th>3</th>
      <td>용산구</td>
      <td>245245</td>
      <td>119963</td>
      <td>125282</td>
      <td>229677</td>
      <td>111078</td>
      <td>118599</td>
      <td>15568</td>
      <td>8885</td>
      <td>6683</td>
      <td>2.12</td>
      <td>37331</td>
      <td>0.063479</td>
      <td>0.152219</td>
      <td>0.510844</td>
    </tr>
    <tr>
      <th>4</th>
      <td>성동구</td>
      <td>316068</td>
      <td>155268</td>
      <td>160800</td>
      <td>308066</td>
      <td>151571</td>
      <td>156495</td>
      <td>8002</td>
      <td>3697</td>
      <td>4305</td>
      <td>2.27</td>
      <td>42171</td>
      <td>0.025317</td>
      <td>0.133424</td>
      <td>0.508751</td>
    </tr>
    <tr>
      <th>2</th>
      <td>중구</td>
      <td>135427</td>
      <td>66673</td>
      <td>68754</td>
      <td>126032</td>
      <td>62260</td>
      <td>63772</td>
      <td>9395</td>
      <td>4413</td>
      <td>4982</td>
      <td>2.06</td>
      <td>21798</td>
      <td>0.069373</td>
      <td>0.160958</td>
      <td>0.507683</td>
    </tr>
    <tr>
      <th>15</th>
      <td>양천구</td>
      <td>471026</td>
      <td>232087</td>
      <td>238939</td>
      <td>467151</td>
      <td>230322</td>
      <td>236829</td>
      <td>3875</td>
      <td>1765</td>
      <td>2110</td>
      <td>2.65</td>
      <td>56742</td>
      <td>0.008227</td>
      <td>0.120465</td>
      <td>0.507273</td>
    </tr>
    <tr>
      <th>6</th>
      <td>동대문구</td>
      <td>364527</td>
      <td>180126</td>
      <td>184401</td>
      <td>348903</td>
      <td>174128</td>
      <td>174775</td>
      <td>15624</td>
      <td>5998</td>
      <td>9626</td>
      <td>2.17</td>
      <td>56675</td>
      <td>0.042861</td>
      <td>0.155475</td>
      <td>0.505864</td>
    </tr>
    <tr>
      <th>7</th>
      <td>중랑구</td>
      <td>410296</td>
      <td>203711</td>
      <td>206585</td>
      <td>405551</td>
      <td>201803</td>
      <td>203748</td>
      <td>4745</td>
      <td>1908</td>
      <td>2837</td>
      <td>2.26</td>
      <td>60618</td>
      <td>0.011565</td>
      <td>0.147742</td>
      <td>0.503502</td>
    </tr>
    <tr>
      <th>17</th>
      <td>구로구</td>
      <td>440305</td>
      <td>220880</td>
      <td>219425</td>
      <td>407235</td>
      <td>202016</td>
      <td>205219</td>
      <td>33070</td>
      <td>18864</td>
      <td>14206</td>
      <td>2.37</td>
      <td>60564</td>
      <td>0.075107</td>
      <td>0.137550</td>
      <td>0.498348</td>
    </tr>
    <tr>
      <th>21</th>
      <td>관악구</td>
      <td>521960</td>
      <td>262235</td>
      <td>259725</td>
      <td>504048</td>
      <td>253600</td>
      <td>250448</td>
      <td>17912</td>
      <td>8635</td>
      <td>9277</td>
      <td>1.94</td>
      <td>71317</td>
      <td>0.034317</td>
      <td>0.136633</td>
      <td>0.497596</td>
    </tr>
    <tr>
      <th>19</th>
      <td>영등포구</td>
      <td>404501</td>
      <td>203696</td>
      <td>200805</td>
      <td>369003</td>
      <td>183888</td>
      <td>185115</td>
      <td>35498</td>
      <td>19808</td>
      <td>15690</td>
      <td>2.18</td>
      <td>54994</td>
      <td>0.087758</td>
      <td>0.135955</td>
      <td>0.496426</td>
    </tr>
    <tr>
      <th>18</th>
      <td>금천구</td>
      <td>252752</td>
      <td>129612</td>
      <td>123140</td>
      <td>233263</td>
      <td>118530</td>
      <td>114733</td>
      <td>19489</td>
      <td>11082</td>
      <td>8407</td>
      <td>2.19</td>
      <td>34945</td>
      <td>0.077107</td>
      <td>0.138258</td>
      <td>0.487197</td>
    </tr>
  </tbody>
</table>
</div>

In [36]:
raw_data.sort_values(by='고령비율', ascending=False)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>구</th>
      <th>인구수</th>
      <th>남성</th>
      <th>여성</th>
      <th>내국인</th>
      <th>남성내국인</th>
      <th>여성내국인</th>
      <th>외국인</th>
      <th>남성외국인</th>
      <th>여성외국인</th>
      <th>세대당인구</th>
      <th>고령자</th>
      <th>외국인비율</th>
      <th>고령비율</th>
      <th>여성비율</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>강북구</td>
      <td>326063</td>
      <td>159219</td>
      <td>166844</td>
      <td>322385</td>
      <td>157769</td>
      <td>164616</td>
      <td>3678</td>
      <td>1450</td>
      <td>2228</td>
      <td>2.25</td>
      <td>57401</td>
      <td>0.011280</td>
      <td>0.176043</td>
      <td>0.511693</td>
    </tr>
    <tr>
      <th>1</th>
      <td>종로구</td>
      <td>163569</td>
      <td>79522</td>
      <td>84047</td>
      <td>153780</td>
      <td>75247</td>
      <td>78533</td>
      <td>9789</td>
      <td>4275</td>
      <td>5514</td>
      <td>2.09</td>
      <td>26512</td>
      <td>0.059846</td>
      <td>0.162085</td>
      <td>0.513832</td>
    </tr>
    <tr>
      <th>2</th>
      <td>중구</td>
      <td>135427</td>
      <td>66673</td>
      <td>68754</td>
      <td>126032</td>
      <td>62260</td>
      <td>63772</td>
      <td>9395</td>
      <td>4413</td>
      <td>4982</td>
      <td>2.06</td>
      <td>21798</td>
      <td>0.069373</td>
      <td>0.160958</td>
      <td>0.507683</td>
    </tr>
    <tr>
      <th>10</th>
      <td>도봉구</td>
      <td>344096</td>
      <td>168282</td>
      <td>175814</td>
      <td>341928</td>
      <td>167465</td>
      <td>174463</td>
      <td>2168</td>
      <td>817</td>
      <td>1351</td>
      <td>2.49</td>
      <td>54969</td>
      <td>0.006301</td>
      <td>0.159749</td>
      <td>0.510945</td>
    </tr>
    <tr>
      <th>12</th>
      <td>은평구</td>
      <td>489045</td>
      <td>236802</td>
      <td>252243</td>
      <td>484642</td>
      <td>234905</td>
      <td>249737</td>
      <td>4403</td>
      <td>1897</td>
      <td>2506</td>
      <td>2.38</td>
      <td>76097</td>
      <td>0.009003</td>
      <td>0.155603</td>
      <td>0.515787</td>
    </tr>
    <tr>
      <th>6</th>
      <td>동대문구</td>
      <td>364527</td>
      <td>180126</td>
      <td>184401</td>
      <td>348903</td>
      <td>174128</td>
      <td>174775</td>
      <td>15624</td>
      <td>5998</td>
      <td>9626</td>
      <td>2.17</td>
      <td>56675</td>
      <td>0.042861</td>
      <td>0.155475</td>
      <td>0.505864</td>
    </tr>
    <tr>
      <th>13</th>
      <td>서대문구</td>
      <td>323261</td>
      <td>154145</td>
      <td>169116</td>
      <td>311280</td>
      <td>150131</td>
      <td>161149</td>
      <td>11981</td>
      <td>4014</td>
      <td>7967</td>
      <td>2.26</td>
      <td>49935</td>
      <td>0.037063</td>
      <td>0.154473</td>
      <td>0.523156</td>
    </tr>
    <tr>
      <th>3</th>
      <td>용산구</td>
      <td>245245</td>
      <td>119963</td>
      <td>125282</td>
      <td>229677</td>
      <td>111078</td>
      <td>118599</td>
      <td>15568</td>
      <td>8885</td>
      <td>6683</td>
      <td>2.12</td>
      <td>37331</td>
      <td>0.063479</td>
      <td>0.152219</td>
      <td>0.510844</td>
    </tr>
    <tr>
      <th>8</th>
      <td>성북구</td>
      <td>451829</td>
      <td>218998</td>
      <td>232831</td>
      <td>440272</td>
      <td>214430</td>
      <td>225842</td>
      <td>11557</td>
      <td>4568</td>
      <td>6989</td>
      <td>2.36</td>
      <td>67132</td>
      <td>0.025578</td>
      <td>0.148578</td>
      <td>0.515308</td>
    </tr>
    <tr>
      <th>7</th>
      <td>중랑구</td>
      <td>410296</td>
      <td>203711</td>
      <td>206585</td>
      <td>405551</td>
      <td>201803</td>
      <td>203748</td>
      <td>4745</td>
      <td>1908</td>
      <td>2837</td>
      <td>2.26</td>
      <td>60618</td>
      <td>0.011565</td>
      <td>0.147742</td>
      <td>0.503502</td>
    </tr>
    <tr>
      <th>20</th>
      <td>동작구</td>
      <td>407275</td>
      <td>197984</td>
      <td>209291</td>
      <td>394788</td>
      <td>192296</td>
      <td>202492</td>
      <td>12487</td>
      <td>5688</td>
      <td>6799</td>
      <td>2.26</td>
      <td>58133</td>
      <td>0.030660</td>
      <td>0.142736</td>
      <td>0.513881</td>
    </tr>
    <tr>
      <th>18</th>
      <td>금천구</td>
      <td>252752</td>
      <td>129612</td>
      <td>123140</td>
      <td>233263</td>
      <td>118530</td>
      <td>114733</td>
      <td>19489</td>
      <td>11082</td>
      <td>8407</td>
      <td>2.19</td>
      <td>34945</td>
      <td>0.077107</td>
      <td>0.138258</td>
      <td>0.487197</td>
    </tr>
    <tr>
      <th>17</th>
      <td>구로구</td>
      <td>440305</td>
      <td>220880</td>
      <td>219425</td>
      <td>407235</td>
      <td>202016</td>
      <td>205219</td>
      <td>33070</td>
      <td>18864</td>
      <td>14206</td>
      <td>2.37</td>
      <td>60564</td>
      <td>0.075107</td>
      <td>0.137550</td>
      <td>0.498348</td>
    </tr>
    <tr>
      <th>11</th>
      <td>노원구</td>
      <td>553177</td>
      <td>268396</td>
      <td>284781</td>
      <td>549365</td>
      <td>266826</td>
      <td>282539</td>
      <td>3812</td>
      <td>1570</td>
      <td>2242</td>
      <td>2.52</td>
      <td>75741</td>
      <td>0.006891</td>
      <td>0.136920</td>
      <td>0.514810</td>
    </tr>
    <tr>
      <th>21</th>
      <td>관악구</td>
      <td>521960</td>
      <td>262235</td>
      <td>259725</td>
      <td>504048</td>
      <td>253600</td>
      <td>250448</td>
      <td>17912</td>
      <td>8635</td>
      <td>9277</td>
      <td>1.94</td>
      <td>71317</td>
      <td>0.034317</td>
      <td>0.136633</td>
      <td>0.497596</td>
    </tr>
    <tr>
      <th>19</th>
      <td>영등포구</td>
      <td>404501</td>
      <td>203696</td>
      <td>200805</td>
      <td>369003</td>
      <td>183888</td>
      <td>185115</td>
      <td>35498</td>
      <td>19808</td>
      <td>15690</td>
      <td>2.18</td>
      <td>54994</td>
      <td>0.087758</td>
      <td>0.135955</td>
      <td>0.496426</td>
    </tr>
    <tr>
      <th>4</th>
      <td>성동구</td>
      <td>316068</td>
      <td>155268</td>
      <td>160800</td>
      <td>308066</td>
      <td>151571</td>
      <td>156495</td>
      <td>8002</td>
      <td>3697</td>
      <td>4305</td>
      <td>2.27</td>
      <td>42171</td>
      <td>0.025317</td>
      <td>0.133424</td>
      <td>0.508751</td>
    </tr>
    <tr>
      <th>14</th>
      <td>마포구</td>
      <td>385507</td>
      <td>182627</td>
      <td>202880</td>
      <td>374691</td>
      <td>178430</td>
      <td>196261</td>
      <td>10816</td>
      <td>4197</td>
      <td>6619</td>
      <td>2.19</td>
      <td>50350</td>
      <td>0.028057</td>
      <td>0.130607</td>
      <td>0.526268</td>
    </tr>
    <tr>
      <th>16</th>
      <td>강서구</td>
      <td>606981</td>
      <td>295221</td>
      <td>311760</td>
      <td>600257</td>
      <td>291966</td>
      <td>308291</td>
      <td>6724</td>
      <td>3255</td>
      <td>3469</td>
      <td>2.34</td>
      <td>78042</td>
      <td>0.011078</td>
      <td>0.128574</td>
      <td>0.513624</td>
    </tr>
    <tr>
      <th>22</th>
      <td>서초구</td>
      <td>443989</td>
      <td>212679</td>
      <td>231310</td>
      <td>439844</td>
      <td>210596</td>
      <td>229248</td>
      <td>4145</td>
      <td>2083</td>
      <td>2062</td>
      <td>2.52</td>
      <td>54614</td>
      <td>0.009336</td>
      <td>0.123008</td>
      <td>0.520981</td>
    </tr>
    <tr>
      <th>5</th>
      <td>광진구</td>
      <td>370519</td>
      <td>179621</td>
      <td>190898</td>
      <td>355748</td>
      <td>173216</td>
      <td>182532</td>
      <td>14771</td>
      <td>6405</td>
      <td>8366</td>
      <td>2.21</td>
      <td>44806</td>
      <td>0.039866</td>
      <td>0.120928</td>
      <td>0.515218</td>
    </tr>
    <tr>
      <th>15</th>
      <td>양천구</td>
      <td>471026</td>
      <td>232087</td>
      <td>238939</td>
      <td>467151</td>
      <td>230322</td>
      <td>236829</td>
      <td>3875</td>
      <td>1765</td>
      <td>2110</td>
      <td>2.65</td>
      <td>56742</td>
      <td>0.008227</td>
      <td>0.120465</td>
      <td>0.507273</td>
    </tr>
    <tr>
      <th>23</th>
      <td>강남구</td>
      <td>551888</td>
      <td>264332</td>
      <td>287556</td>
      <td>546952</td>
      <td>261815</td>
      <td>285137</td>
      <td>4936</td>
      <td>2517</td>
      <td>2419</td>
      <td>2.39</td>
      <td>66011</td>
      <td>0.008944</td>
      <td>0.119609</td>
      <td>0.521041</td>
    </tr>
    <tr>
      <th>24</th>
      <td>송파구</td>
      <td>673161</td>
      <td>327051</td>
      <td>346110</td>
      <td>666439</td>
      <td>323741</td>
      <td>342698</td>
      <td>6722</td>
      <td>3310</td>
      <td>3412</td>
      <td>2.48</td>
      <td>79093</td>
      <td>0.009986</td>
      <td>0.117495</td>
      <td>0.514156</td>
    </tr>
  </tbody>
</table>
</div>

In [37]:
raw_data.sort_values(by='외국인비율', ascending=False)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>구</th>
      <th>인구수</th>
      <th>남성</th>
      <th>여성</th>
      <th>내국인</th>
      <th>남성내국인</th>
      <th>여성내국인</th>
      <th>외국인</th>
      <th>남성외국인</th>
      <th>여성외국인</th>
      <th>세대당인구</th>
      <th>고령자</th>
      <th>외국인비율</th>
      <th>고령비율</th>
      <th>여성비율</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>19</th>
      <td>영등포구</td>
      <td>404501</td>
      <td>203696</td>
      <td>200805</td>
      <td>369003</td>
      <td>183888</td>
      <td>185115</td>
      <td>35498</td>
      <td>19808</td>
      <td>15690</td>
      <td>2.18</td>
      <td>54994</td>
      <td>0.087758</td>
      <td>0.135955</td>
      <td>0.496426</td>
    </tr>
    <tr>
      <th>18</th>
      <td>금천구</td>
      <td>252752</td>
      <td>129612</td>
      <td>123140</td>
      <td>233263</td>
      <td>118530</td>
      <td>114733</td>
      <td>19489</td>
      <td>11082</td>
      <td>8407</td>
      <td>2.19</td>
      <td>34945</td>
      <td>0.077107</td>
      <td>0.138258</td>
      <td>0.487197</td>
    </tr>
    <tr>
      <th>17</th>
      <td>구로구</td>
      <td>440305</td>
      <td>220880</td>
      <td>219425</td>
      <td>407235</td>
      <td>202016</td>
      <td>205219</td>
      <td>33070</td>
      <td>18864</td>
      <td>14206</td>
      <td>2.37</td>
      <td>60564</td>
      <td>0.075107</td>
      <td>0.137550</td>
      <td>0.498348</td>
    </tr>
    <tr>
      <th>2</th>
      <td>중구</td>
      <td>135427</td>
      <td>66673</td>
      <td>68754</td>
      <td>126032</td>
      <td>62260</td>
      <td>63772</td>
      <td>9395</td>
      <td>4413</td>
      <td>4982</td>
      <td>2.06</td>
      <td>21798</td>
      <td>0.069373</td>
      <td>0.160958</td>
      <td>0.507683</td>
    </tr>
    <tr>
      <th>3</th>
      <td>용산구</td>
      <td>245245</td>
      <td>119963</td>
      <td>125282</td>
      <td>229677</td>
      <td>111078</td>
      <td>118599</td>
      <td>15568</td>
      <td>8885</td>
      <td>6683</td>
      <td>2.12</td>
      <td>37331</td>
      <td>0.063479</td>
      <td>0.152219</td>
      <td>0.510844</td>
    </tr>
    <tr>
      <th>1</th>
      <td>종로구</td>
      <td>163569</td>
      <td>79522</td>
      <td>84047</td>
      <td>153780</td>
      <td>75247</td>
      <td>78533</td>
      <td>9789</td>
      <td>4275</td>
      <td>5514</td>
      <td>2.09</td>
      <td>26512</td>
      <td>0.059846</td>
      <td>0.162085</td>
      <td>0.513832</td>
    </tr>
    <tr>
      <th>6</th>
      <td>동대문구</td>
      <td>364527</td>
      <td>180126</td>
      <td>184401</td>
      <td>348903</td>
      <td>174128</td>
      <td>174775</td>
      <td>15624</td>
      <td>5998</td>
      <td>9626</td>
      <td>2.17</td>
      <td>56675</td>
      <td>0.042861</td>
      <td>0.155475</td>
      <td>0.505864</td>
    </tr>
    <tr>
      <th>5</th>
      <td>광진구</td>
      <td>370519</td>
      <td>179621</td>
      <td>190898</td>
      <td>355748</td>
      <td>173216</td>
      <td>182532</td>
      <td>14771</td>
      <td>6405</td>
      <td>8366</td>
      <td>2.21</td>
      <td>44806</td>
      <td>0.039866</td>
      <td>0.120928</td>
      <td>0.515218</td>
    </tr>
    <tr>
      <th>13</th>
      <td>서대문구</td>
      <td>323261</td>
      <td>154145</td>
      <td>169116</td>
      <td>311280</td>
      <td>150131</td>
      <td>161149</td>
      <td>11981</td>
      <td>4014</td>
      <td>7967</td>
      <td>2.26</td>
      <td>49935</td>
      <td>0.037063</td>
      <td>0.154473</td>
      <td>0.523156</td>
    </tr>
    <tr>
      <th>21</th>
      <td>관악구</td>
      <td>521960</td>
      <td>262235</td>
      <td>259725</td>
      <td>504048</td>
      <td>253600</td>
      <td>250448</td>
      <td>17912</td>
      <td>8635</td>
      <td>9277</td>
      <td>1.94</td>
      <td>71317</td>
      <td>0.034317</td>
      <td>0.136633</td>
      <td>0.497596</td>
    </tr>
    <tr>
      <th>20</th>
      <td>동작구</td>
      <td>407275</td>
      <td>197984</td>
      <td>209291</td>
      <td>394788</td>
      <td>192296</td>
      <td>202492</td>
      <td>12487</td>
      <td>5688</td>
      <td>6799</td>
      <td>2.26</td>
      <td>58133</td>
      <td>0.030660</td>
      <td>0.142736</td>
      <td>0.513881</td>
    </tr>
    <tr>
      <th>14</th>
      <td>마포구</td>
      <td>385507</td>
      <td>182627</td>
      <td>202880</td>
      <td>374691</td>
      <td>178430</td>
      <td>196261</td>
      <td>10816</td>
      <td>4197</td>
      <td>6619</td>
      <td>2.19</td>
      <td>50350</td>
      <td>0.028057</td>
      <td>0.130607</td>
      <td>0.526268</td>
    </tr>
    <tr>
      <th>8</th>
      <td>성북구</td>
      <td>451829</td>
      <td>218998</td>
      <td>232831</td>
      <td>440272</td>
      <td>214430</td>
      <td>225842</td>
      <td>11557</td>
      <td>4568</td>
      <td>6989</td>
      <td>2.36</td>
      <td>67132</td>
      <td>0.025578</td>
      <td>0.148578</td>
      <td>0.515308</td>
    </tr>
    <tr>
      <th>4</th>
      <td>성동구</td>
      <td>316068</td>
      <td>155268</td>
      <td>160800</td>
      <td>308066</td>
      <td>151571</td>
      <td>156495</td>
      <td>8002</td>
      <td>3697</td>
      <td>4305</td>
      <td>2.27</td>
      <td>42171</td>
      <td>0.025317</td>
      <td>0.133424</td>
      <td>0.508751</td>
    </tr>
    <tr>
      <th>7</th>
      <td>중랑구</td>
      <td>410296</td>
      <td>203711</td>
      <td>206585</td>
      <td>405551</td>
      <td>201803</td>
      <td>203748</td>
      <td>4745</td>
      <td>1908</td>
      <td>2837</td>
      <td>2.26</td>
      <td>60618</td>
      <td>0.011565</td>
      <td>0.147742</td>
      <td>0.503502</td>
    </tr>
    <tr>
      <th>9</th>
      <td>강북구</td>
      <td>326063</td>
      <td>159219</td>
      <td>166844</td>
      <td>322385</td>
      <td>157769</td>
      <td>164616</td>
      <td>3678</td>
      <td>1450</td>
      <td>2228</td>
      <td>2.25</td>
      <td>57401</td>
      <td>0.011280</td>
      <td>0.176043</td>
      <td>0.511693</td>
    </tr>
    <tr>
      <th>16</th>
      <td>강서구</td>
      <td>606981</td>
      <td>295221</td>
      <td>311760</td>
      <td>600257</td>
      <td>291966</td>
      <td>308291</td>
      <td>6724</td>
      <td>3255</td>
      <td>3469</td>
      <td>2.34</td>
      <td>78042</td>
      <td>0.011078</td>
      <td>0.128574</td>
      <td>0.513624</td>
    </tr>
    <tr>
      <th>24</th>
      <td>송파구</td>
      <td>673161</td>
      <td>327051</td>
      <td>346110</td>
      <td>666439</td>
      <td>323741</td>
      <td>342698</td>
      <td>6722</td>
      <td>3310</td>
      <td>3412</td>
      <td>2.48</td>
      <td>79093</td>
      <td>0.009986</td>
      <td>0.117495</td>
      <td>0.514156</td>
    </tr>
    <tr>
      <th>22</th>
      <td>서초구</td>
      <td>443989</td>
      <td>212679</td>
      <td>231310</td>
      <td>439844</td>
      <td>210596</td>
      <td>229248</td>
      <td>4145</td>
      <td>2083</td>
      <td>2062</td>
      <td>2.52</td>
      <td>54614</td>
      <td>0.009336</td>
      <td>0.123008</td>
      <td>0.520981</td>
    </tr>
    <tr>
      <th>12</th>
      <td>은평구</td>
      <td>489045</td>
      <td>236802</td>
      <td>252243</td>
      <td>484642</td>
      <td>234905</td>
      <td>249737</td>
      <td>4403</td>
      <td>1897</td>
      <td>2506</td>
      <td>2.38</td>
      <td>76097</td>
      <td>0.009003</td>
      <td>0.155603</td>
      <td>0.515787</td>
    </tr>
    <tr>
      <th>23</th>
      <td>강남구</td>
      <td>551888</td>
      <td>264332</td>
      <td>287556</td>
      <td>546952</td>
      <td>261815</td>
      <td>285137</td>
      <td>4936</td>
      <td>2517</td>
      <td>2419</td>
      <td>2.39</td>
      <td>66011</td>
      <td>0.008944</td>
      <td>0.119609</td>
      <td>0.521041</td>
    </tr>
    <tr>
      <th>15</th>
      <td>양천구</td>
      <td>471026</td>
      <td>232087</td>
      <td>238939</td>
      <td>467151</td>
      <td>230322</td>
      <td>236829</td>
      <td>3875</td>
      <td>1765</td>
      <td>2110</td>
      <td>2.65</td>
      <td>56742</td>
      <td>0.008227</td>
      <td>0.120465</td>
      <td>0.507273</td>
    </tr>
    <tr>
      <th>11</th>
      <td>노원구</td>
      <td>553177</td>
      <td>268396</td>
      <td>284781</td>
      <td>549365</td>
      <td>266826</td>
      <td>282539</td>
      <td>3812</td>
      <td>1570</td>
      <td>2242</td>
      <td>2.52</td>
      <td>75741</td>
      <td>0.006891</td>
      <td>0.136920</td>
      <td>0.514810</td>
    </tr>
    <tr>
      <th>10</th>
      <td>도봉구</td>
      <td>344096</td>
      <td>168282</td>
      <td>175814</td>
      <td>341928</td>
      <td>167465</td>
      <td>174463</td>
      <td>2168</td>
      <td>817</td>
      <td>1351</td>
      <td>2.49</td>
      <td>54969</td>
      <td>0.006301</td>
      <td>0.159749</td>
      <td>0.510945</td>
    </tr>
  </tbody>
</table>
</div>

In [66]:
raw_data.sort_values(by='세대당인구', ascending=True)

,구,인구수,남성,여성,내국인,남성내국인,여성내국인,외국인,남성외국인,여성외국인,세대당인구,고령자,외국인비율,고령비율,여성비율
21,관악구,522292,262428,259864,504445,253911,250534,17847,8517,9330,1.95,70807,0.034171,0.135570,0.497545
2,중구,135139,66582,68557,126082,62376,63706,9057,4206,4851,2.07,21655,0.067020,0.160242,0.507307
1,종로구,164348,79962,84386,154549,75749,78800,9799,4213,5586,2.09,26429,0.059623,0.160811,0.513459
3,용산구,245411,119985,125426,229909,111262,118647,15502,8723,6779,2.12,37238,0.063168,0.151737,0.511085
6,동대문구,364962,180381,184581,349308,174476,174832,15654,5905,9749,2.18,56284,0.042892,0.154219,0.505754
19,영등포구,403988,203472,200516,369128,184127,185001,34860,19345,15515,2.19,54704,0.086290,0.135410,0.496341
18,금천구,253344,129791,123553,234238,119023,115215,19106,10768,8338,2.20,34640,0.075415,0.136731,0.487689
14,마포구,385624,182905,202719,374742,178661,196081,10882,4244,6638,2.20,50122,0.028219,0.129976,0.525691
5,광진구,371671,180206,191465,357149,173946,183203,14522,6260,8262,2.21,44470,0.039072,0.119649,0.515146
9,강북구,327511,159853,167658,323862,158440,165422,3649,1413,2236,2.26,57002,0.011142,0.174046,0.511916
20,동작구,406715,197848,208867,394353,192215,202138,12362,5633,6729,2.27,57711,0.030395,0.141895,0.513546
13,서대문구,324871,154960,169911,312311,150793,161518,12560,4167,8393,2.27,49645,0.038661,0.152815,0.523011
7,중랑구,411552,204411,207141,406868,202526,204342,4684,1885,2799,2.27,59992,0.011381,0.145770,0.503317
4,성동구,314551,154672,159879,306532,150937,155595,8019,3735,4284,2.28,41752,0.025493,0.132735,0.508277
16,강서구,608361,296098,312263,601696,292871,308825,6665,3227,3438,2.35,77381,0.010956,0.127196,0.513286
8,성북구,453902,220024,233878,442226,215421,226805,11676,4603,7073,2.36,66896,0.025724,0.147380,0.515261
17,구로구,440396,220903,219493,408369,202731,205638,32027,18172,13855,2.38,59838,0.072723,0.135873,0.498399
12,은평구,490253,237542,252711,485902,235674,250228,4351,1868,2483,2.39,75535,0.008875,0.154074,0.515471
23,강남구,557865,267314,290551,552976,264834,288142,4889,2480,2409,2.39,65859,0.008764,0.118055,0.520827
10,도봉구,345041,168833,176208,342861,168009,174852,2180,824,1356,2.49,54293,0.006318,0.157352,0.510687
24,송파구,671994,326511,345483,665282,323228,342054,6712,3283,3429,2.50,77978,0.009988,0.116040,0.514116
11,노원구,555803,269762,286041,551902,268144,283758,3901,1618,2283,2.53,75081,0.007019,0.135086,0.514645
22,서초구,445164,213279,231885,440954,211156,229798,4210,2123,2087,2.53,54055,0.009457,0.121427,0.520898
15,양천구,473087,233189,239898,469221,231409,237812,3866,1780,2086,2.66,56070,0.008172,0.118519,0.507091

In [40]:
raw_data.to_csv('pythonExam2018-1/exam/data/01. POP_result.csv', 
                sep=',', 
                encoding='utf-8')

ls: ../data/: No such file or directory